<template>
    <div class="container mt-n5">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1>Liste des Tags</h1>
                <div class="row align-items-center mt-2">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-success" @click="create">
                            <i class="fas fa-tag"></i>
                            <span class="ml-1">Nouveau</span>
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <v-text-field v-model="search" label="Recherche" color="blue-grey darken-4" class="mySearch bg-light" outlined dense hide-details="auto" append-icon="fas fa-search"></v-text-field>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <v-simple-table fixed-header>
                            <thead class>
                            <tr>
                                <th>N°</th>
                                <th>NOM</th>
                                <th>ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-show="tags.length" v-for="tag in tags" :key="tag.id">
                                <th scope="row">
                                    {{ tag.id }}
                                </th>
                                <td>
                                    {{ tag.tag | LowerCase }}
                                </td>
                                <td>
                                    <div class="d-flex flex-row">
                                        <button type="button" class="mx-1" @click="edit(tag)">
                                            <i class="fas fa-edit fa-lg text-green "></i>
                                        </button>
                                        |
                                        <button type="button" class="ml-1" @click="destroy(tag)">
                                            <i class="fas fa-trash fa-lg text-red"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <!-- Si le tableau est en train d'être chargé -->
                            <tr v-show="!tags.length && loading === false">
                                <td colspan="12" class="pt-4">
                                    <div class="alert alert-danger" role="alert">
                                        Loading
                                    </div>
                                </td>
                            </tr>
                            <!-- Si le tableau est chargé mais qu'il n'y a pas de données -->
                            <tr v-show="!tags.length && loading === true" class="justify-content-center">
                                <td colspan="12" class="pt-4">
                                    <div class="alert alert-danger" role="alert">
                                        Oups ! Il n'y a aucune correspondance dans la base de données.
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </v-simple-table>
                    </div>
                </div>
                <PaginationComponent class="mt-3"
                                     v-if="pagination.last_page > 1"
                                     :pagination="pagination"
                                     :offset="5"
                                     @paginate="search === '' ? getData() : searchData()"
                ></PaginationComponent>
                <!-- Create & Edit Modal -->
                <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalTitle" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="tagModalTitle">{{ editMode ? "Modification d'un" : "Cr&eacute;ation d'un nouveau" }} Tag</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form @submit.prevent="editMode ? update() : store()" @keydown="form.onKeydown($event)">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                                <b-input-group-prepend is-text>
                                                    <span class="text-light-interface"><i class="fas fa-tag"></i></span>
                                                </b-input-group-prepend>
                                                <b-form-input v-model="form.tag" type="text"
                                                              :state="validationTag"
                                                              class="form-control" :class="{ 'is-invalid': form.errors.has('tag') }"
                                                              name="tag" id="tag" placeholder="Nom du tag">
                                                </b-form-input>
                                                <b-form-invalid-feedback id="input-live-feedback">
                                                    Le tag doit être composé d'au moins 3 lettres
                                                </b-form-invalid-feedback>
                                                <has-error :form="form" field="nom"></has-error>
                                            </b-input-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                    <button :disabled="form.busy" type="submit" class="btn btn-success">{{ editMode ? "&Eacute;diter" : "Cr&eacute;er" }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Snackbar pour les erreurs -->
                <v-snackbar v-model="snackbar" color="error" top>
                    {{ errors }}
                    <v-btn text @click="snackbar = false">
                        Fermer
                    </v-btn>
                </v-snackbar>
            </div>
        </div>
    </div>
</template>

<script>
    import PaginationComponent from "../elements/PaginationComponent";
    import { Form } from 'vform';

    export default {
        name: "TagsComponenent",
        components: {
            PaginationComponent,
        },
        data() {
            return {
                loading: false,
                editMode: false,
                searchColonnes: ['tag'],
                colonne: 'tag',
                search: '',
                tags: [],
                form : new Form({
                    id: '',
                    tag: '',
                }),
                pagination: {
                    current_page: 1,
                },
                snackbar: false,
                errors: {},
            }
        },
        watch: {
            search: function(newSearch, oldSearch) {
                if (newSearch === '') {
                    this.getData();
                } else {
                    this.searchData();
                }
            }
        },
        mounted() {
            console.log('Tags component mounted');
            this.getData();
        },
        computed: {
            validationTag() {
                return this.form.tag.length > 2
            },
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },
        methods: {
            getData(){
                this.$Progress.start();
                this.loading = false;
                axios.get('api/tags?page=' + this.pagination.current_page)
                    .then(response => {
                        this.tags = response.data.data
                        this.pagination = response.data.meta
                        this.$Progress.finish();
                        this.loading= true;
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.errors = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            searchData() {
                this.$Progress.start();
                axios.get('api/search/tags/' + this.colonne +'/'+ this.search +'?page=' + this.pagination.current_page)
                    .then(response => {
                        this.tags = response.data.data
                        this.pagination = response.data.meta
                        this.$Progress.finish();
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.errors = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            create() {
                this.editMode = false;
                this.form.reset();
                this.form.clear();
                $('#tagModal').modal('show');
            },
            store() {
                this.$Progress.start();
                this.form.tag = this.form.tag.toLowerCase();
                this.form.busy = true;
                this.form
                    .post('api/tags/create')
                    .then(response => {
                        this.getData()
                        if(this.form.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Tag créé'
                            });
                            $('#tagModal').modal('hide');
                            Fire.$emit('RefreshPage'); // Rafraichit la page
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Tag non créé'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.errors = 'Erreur : Tag déjà existant ?';
                            this.snackbar = true;
                        } else {
                            this.errors = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            },
            edit(tag) {
                this.editMode = true;
                this.form.reset();
                this.form.clear();
                this.form.fill(tag);
                $('#tagModal').modal('show');
            },
            update() {
                this.$Progress.start();
                this.form.tag = this.form.tag.toLowerCase();
                this.form.busy = true;
                this.form
                    .put('api/tags/edit/' + this.form.id)
                    .then(response => {
                        this.getData()
                        if(this.form.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Tag édité'
                            });
                            $('#tagModal').modal('hide');
                            Fire.$emit('RefreshPage'); // Rafraichit la page
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Tag non édité'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.errors = 'Erreur : Tag déjà existant ?';
                            this.snackbar = true;
                        } else {
                            this.errors = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            },
            destroy(tag) {
                this.$Progress.start();
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, se sera supprimé à vie!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimez!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('api/tags/' + tag.id)
                            .then(response => {
                                this.getData();
                                this.$Progress.finish();
                                Swal.fire(
                                    'Supprimez!',
                                    'Tag supprimé!',
                                    'success'
                                );
                                Fire.$emit('RefreshPage'); // Rafraichit la page
                            })
                            .catch(error => {
                                this.$Progress.fail();
                                this.errors = 'Oups, il y a un hic !';
                                this.snackbar = true;
                            })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
