<template>
    <div>
        <h1>Liste des Recrutements</h1>
        <div class="row align-items-center mt-2">
<!--            <div class="col-lg-2 text-right text-light">-->
<!--                <span>Recherche par :</span>-->
<!--            </div>-->
<!--            <div class="col-lg-2">-->
<!--                <v-select :items="searchColonnes" v-model="colonne" color="blue-grey darken-4" class="mySelect bg-light text-dark" outlined dense hide-details="auto"></v-select>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <v-text-field v-model="search" label="Recherche" color="blue-grey darken-4" class="mySearch bg-light" outlined dense hide-details="auto" append-icon="fas fa-search"></v-text-field>-->
<!--            </div>-->
        </div>
        <v-simple-table fixed-header>
            <thead class>
            <tr>
                <th>N°</th>
                <th class="text-center">FORMATION</th>
                <th>SESSION</th>
                <th class="text-center">DATE</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr v-show="recrutements.length" v-for="recrutement in recrutements" :key="recrutement.id">
                <th scope="row" class="text-center">
                    {{ recrutement.id }}
                </th>
                <td>
                    {{ recrutement.formation }}
                </td>
                <td>
                    {{ recrutement.session }}
                </td>
                <td class="text-center">
                    {{ recrutement.date | newDate }}
                </td>
                <td>
                    <div class="d-flex flex-row">
                        <router-link :to="{ name: 'showRecrutement', params: { id: recrutement.id }}">
                            <i class="fas fa-eye fa-lg text-blue mr-1"></i>
                        </router-link>
                        <span v-show="currentUser.role === 'admin' || currentUser.role === 'master'"> | </span>
                        <button type="button" class="mx-1" @click="edit(recrutement)"
                            v-show="currentUser.role === 'admin' || currentUser.role === 'master'">
                            <i class="fas fa-edit fa-lg text-green"></i>
                        </button>
                        <span v-show="currentUser.role === 'admin' || currentUser.role === 'master'"> | </span>
                        <button type="button" class="ml-1" @click="destroy(recrutement)"
                            v-show="currentUser.role === 'admin' || currentUser.role === 'master'">
                            <i class="fas fa-trash fa-lg text-red"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr v-show="!recrutements.length && loading === false">
                <td colspan="12" class="pt-4">
                    <div class="alert alert-danger" role="alert">
                        Loading
                    </div>
                </td>
            </tr>
            <tr v-show="!recrutements.length && loading === true" class="justify-content-center">
                <td colspan="12" class="pt-4">
                    <div class="alert alert-danger" role="alert">
                        Oups ! Rien ne correspond à votre recherche.
                    </div>
                </td>
            </tr>
            </tbody>
        </v-simple-table>
        <PaginationComponent class="mt-3"
             v-if="pagination.last_page > 1"
             :pagination="pagination"
             :offset="5"
             @paginate="search === '' ? getData() : searchData()"
        ></PaginationComponent>
        <!-- Edit Modal -->
        <div class="modal fade" id="editRecrutementModal" tabindex="-1" role="dialog" aria-labelledby="editRecrutementModalTitle" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRecrutementModalTitle">Modification d'un recrutement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="update()" @keydown="form.onKeydown($event)">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <h6 class="float-left"><i class="fas fa-calendar-day fa-lg text-interface mr-2"></i>Date de recrutement : </h6>
                                    <b-form-datepicker v-model="form.date" type="date"
                                                       class="form-control" placeholder="Date du recrutement">
                                    </b-form-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                            <button :disabled="form.busy" type="submit" class="btn btn-success">&Eacute;diter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Show Modal -->
        <div class="modal fade" id="showRecrutementModal" tabindex="-1" role="dialog" aria-labelledby="showRecrutementModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showRecrutementModalTitle">Recrutement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row ml-1 mb-2 align-baseline">
                            <i class="fas fa-calendar fa-lg text-interface"></i><span class="mx-2 font-weight-bold">Recrutement pour la formation :</span> {{ form.formation | UpperCase }} {{ form.session }}
                        </div>
                        <div class="row ml-1 align-baseline">
                            <i class="fas fa-clock fa-lg text-interface"></i><span class="mx-2 font-weight-bold">Date :</span> {{ form.date | newDate }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Snackbar pour les erreurs -->
        <v-snackbar v-model="snackbar" color="error" top>
            {{ errors }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import PaginationComponent from "../../elements/PaginationComponent";
    import {Form} from "vform";

    export default {
        name: "ListRecrutements",
        components: {
            PaginationComponent,
        },
        data() {
            return {
                loading: false,
                searchColonnes: ['formation'],
                colonne: 'formation',
                search: '',
                recrutements: [],
                pagination: {
                    current_page: 1,
                },
                snackbar: false,
                errors: {},
                form: new Form({
                    id: '',
                    formation_id: null,
                    formation: '',
                    session: '',
                    date: null,
                }),
            }
        },
        watch: {
            search: function(newSearch, oldSearch) {
                if (newSearch === '') {
                    this.getData();
                } else {
                    this.searchData();
                }
            }
        },
        mounted() {
            console.log('List Recrutements component mounted');
            this.getData();
        },
        methods: {
            getData(){
                this.$Progress.start();
                this.loading = false;
                axios.get('api/recrutements?page=' + this.pagination.current_page)
                    .then(response => {
                        this.recrutements = response.data.data
                        this.pagination = response.data.meta
                        this.$Progress.finish();
                        this.loading= true;
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.errors = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            searchData() {
                this.$Progress.start();
                axios.get('api/search/recrutements/' + this.colonne +'/'+ this.search +'?page=' + this.pagination.current_page)
                    .then(response => {
                        this.recrutements = response.data.data
                        this.pagination = response.data.meta
                        this.$Progress.finish();
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.errors = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            show(recrutement) {
                this.$Progress.start();
                this.form.reset();
                this.form.fill(recrutement);
                $('#showRecrutementModal').modal('show');
                this.$Progress.finish();
            },
            edit(recrutement) {
                this.form.reset();
                this.form.clear();
                this.form.fill(recrutement);
                $('#editRecrutementModal').modal('show');
            },
            update() {
                this.$Progress.start();
                this.form.busy = true;
                this.form
                    .put('api/recrutements/' + this.form.id)
                    .then(response => {
                        this.getData()
                        if(this.form.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Recrutement édité'
                            });
                            $('#editRecrutementModal').modal('hide');
                            Fire.$emit('RefreshPage'); // Rafraichit la page
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Recrutement non édité'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.errors = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.errors = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            },
            destroy(recrutement) {
                this.$Progress.start();
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, se sera supprimé à vie!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimez!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('api/recrutements/' + recrutement.id)
                            .then(response => {
                                this.getData();
                                this.$Progress.finish();
                                Swal.fire(
                                    'Supprimez!',
                                    'Recrutement supprimé!',
                                    'success'
                                );
                                Fire.$emit('RefreshPage'); // Rafraichit la page
                            })
                            .catch(error => {
                                this.$Progress.fail();
                                this.errors = 'Oups, il y a un hic !';
                                this.snackbar = true;
                            })
                    }
                });
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },
    }
</script>

<style scoped>

</style>
