<template>
    <div>
        <h1 class="ml-5 mb-3">
            <a @click="goBack">
                <button class="btn btn-light mt-n2">
                    <i class="fas fa-reply fa-lg text-interface"></i>
                </button>
            </a>
            Fiche de Recrutement
        </h1>
        <v-row justify="center" class="mt-n5" v-if="recrutement">
            <v-col cols="12">
                <v-card class="mx-auto" shaped>
                    <v-card-text class="p-3 ml-2">
                        <v-row>
                            <v-col cols="8" class="d-flex">
                                <h5 class="font-weight-bolder">Pour la formation {{ recrutement.formation | UpperCase }} {{ recrutement.session }}</h5>
                            </v-col>
                            <v-col cols="4" class="col d-flex flex-column text-right">
                                <span class="mr-5"><i>Création : le {{ recrutement.created_at | newDate }}</i></span>
                            </v-col>
                        </v-row>
                        <v-row class="mt-n5">
                            <v-col>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="text-start align-baseline">
                                <i class="fas fa-calendar-day fa-lg text-interface mr-2"></i>Date : <span class="font-weight-bolder text-interface">{{ recrutement.date | newDate }}</span>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-tabs class="elevation-2 mt-5" dark>
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab href="#listCandidats">Liste des candidat·e·s</v-tab>
                    <v-tab href="#ajoutCandidats">Ajout de candidat·e·s</v-tab>
                    <v-tab href="#uploadPdf">Documents</v-tab>
                    <v-tab-item value="listCandidats">
                        <v-card flat tile>
                            <v-card-text>
                                <div class="row" v-if="candidats.length > 0">
                                    <div class="col col-3 default" v-for="candidat in candidats" :key="candidat.id">
                                        <div class="bloc text-center mb-5 elevation-2">
                                            <router-link :to="{ name: 'showInscrit', params: { id: candidat.id }}"
                                                         class="link default">
                                                <span>
                                                    <i class="fas fa-user fa-lg myIcon"></i>
                                                    <strong>{{ candidat.nom | upperCase }} {{ candidat.prenom }}</strong>
                                                </span>
                                            </router-link><br>
                                            <i class="fas fa-times fa-lg myIconDeleteCandidat" v-on:click="deleteCandidat(candidat.id)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div v-else class="row">
                                    <div class="col">
                                        Aucun·e candidat·e inscrit·e à la formation
                                    </div>
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item value="ajoutCandidats">
                        <v-card flat tile>
                            <v-card-text>
                                <div class="row row-cols-4">
                                    <div class="col col-3 mb-5">
                                        <b-form-input type="text" placeholder="Rechercher un·e inscrit·e" v-model="query"></b-form-input>
                                        <div v-if="results.length > 0 && query" class="list_inscrits elevation-4">
                                            <ul>
                                                <li v-for="result in results.slice(0,10)" :key="result.id">
                                                    <div class="d-inline-flex">
                                                        <span class="inscrit" v-on:click="ajoutCandidat(result.searchable.id, result.searchable.nom, result.searchable.prenom)">
                                                            <i class="fas fa-user-plus fa-lg myIcon"></i>
                                                            <span v-text="result.title" class="span_inscrit"></span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col col-6">
                                        <h6>Liste des candidat·e·s à ajouter :</h6>
                                        <div v-if="listCandidats.length > 0" class="list_candidats">
                                            <ul>
                                                <li v-for="(personne, index) in listCandidats" :key="personne.id">
                                                    <div class="d-inline-flex candidat">
                                                        <i class="fas fa-user fa-lg myIconCandidat"></i>
                                                        {{ personne.nom | upperCase }} {{ personne.prenom }}
                                                        <i class="fas fa-times fa-lg myIconDelete" v-on:click="deleteListCandidats(index)"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div v-else>
                                            Aucun
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <button class="btn btn-success text-light" @click="storeInscriptionCandidats()">Inscrire les candidat·e·s</button>
                                    </div>
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item value="uploadPdf">
                        <v-card flat tile>
                            <v-card-text>
                                <button class="btn btn-interface text-light" @click="uploadListePresence()">Liste des présences</button>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        name: "ShowRecrutement",
        data() {
            return {
                recrutement: {},
                candidats: {},
                query: null,
                results: [],
                candidat: {},
                listCandidats: [],
            }
        },
        watch: {
            query(after, before) {
                this.searchInscrits();
            }
        },
        mounted() {
            console.log('Show Recrutement component mounted');
            this.getRecrutement();
        },
        methods: {
            goBack() {
                return this.$router.go(-1);
            },
            getRecrutement() {
                this.$Progress.start();
                axios.get(`/api/recrutements/show/${this.$route.params.id}`)
                    .then((response) => {
                        this.recrutement = response.data.recrutement;
                        this.candidats = response.data.candidats;
                    })
                this.$Progress.finish();
            },
            deleteCandidat(id) {
                this.$Progress.start();
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, se sera supprimé à vie!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimez!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('api/recrutements/deleteInscrit/' + this.recrutement.id +'/'+ id)
                            .then(response => {
                                this.$Progress.finish();
                                Swal.fire(
                                    'Supprimez!',
                                    'Inscription supprimée',
                                    'success'
                                );

                            })
                            .catch(error => {
                                this.$Progress.fail();
                                this.errors = 'Oups, il y a un hic !';
                                this.snackbar = true;
                            })
                    }
                    setTimeout(function() {
                        window.location.reload();
                    }, 500);
                });

            },
            searchInscrits() {
                axios.get('api/inscrits/search', { params: { query: this.query } })
                    .then(response => this.results = response.data)
                    .catch(error => { console.log(error) } );
            },
            ajoutCandidat: function(id, nom, prenom) {
                this.candidat['id'] = id;
                this.candidat['nom'] = nom;
                this.candidat['prenom'] = prenom;
                this.ajoutListCandidats(this.candidat);
                this.candidat= {};
            },
            ajoutListCandidats(candidat) {
                this.listCandidats.push(candidat);
            },
            deleteListCandidats: function (index) {
                this.listCandidats.splice(index, 1);
            },
            storeInscriptionCandidats() {
                this.$Progress.start();
                for(let $i=0; $i < this.listCandidats.length; $i++) {
                    axios.post('api/recrutements/addInscrit/' + this.recrutement.id +'/'+ this.listCandidats[$i].id)
                        .then(response => {
                            if(response.data.message != null) {
                                Toast.fire({
                                    icon: 'success',
                                    title: "Inscription effectuée"
                                });
                            } else if (response.data.error != null) {
                                Toast.fire({
                                    icon: 'error',
                                    title: 'Déjà inscrit à ce recrutement'
                                });
                            }
                            this.$Progress.finish();
                        })
                        .catch(error => {
                            console.log(error);
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Inscription non effectuée'
                            });
                        })
                }
                this.$Progress.finish();
                setTimeout(function() {
                    window.location.reload();
                }, 1500);
            },
            forceFileDownload(response) {
                let headers = response.headers;
                let date = this.recrutement.date;
                var blob = new Blob([response.data], {type: headers['content-type']});
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = `${date}_recrutement-liste-presence.pdf`;
                link.click();
                link.remove();
            },
            uploadListePresence() {
                axios({
                    url: '/PDF/recrutement/presences/' + this.recrutement.id,
                    method: 'GET',
                    responseType: 'blob',
                })
                    .then(response => {
                        this.forceFileDownload(response);
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
        },
    }
</script>

<style scoped>
    h2 {
        color: #193340;
    }

    .link:hover {
        color: #f66d9b !important;
    }

    .bloc {
        padding: 0.5em 0.5em;
        border-radius: 10px;
        background-color: #389fad;
    }

    .bloc:hover {
        color: #193340;
    }

    .list_inscrits {
        z-index: 100;
        background-color: #fff;
        padding: 10px 0;
        border-radius: 5px;
        margin-top: 5px;
    }

    .list_inscrits > ul > li > a {
        color: #193340 !important;
    }

    .list_inscrits > ul {
        margin: 0;
        padding: 0;
    }

    .list_inscrits > ul > li {
        list-style-type: none;
        margin: 3px 0 2px 0;
        padding-top: 2px;
        cursor: pointer;
    }

    .list_inscrits > ul > li:hover {
        background-color: #389fad !important;
    }

    .inscrit {
        color: #193340 !important;
        padding: 3px 50px 7px 10px;
    }

    .myIcon {
        vertical-align: -0.03em !important;
        margin-right: 2px;
    }

    .span_inscrit {
        font-size: large;
    }

    .list_candidats > ul > li {
        list-style-type: none;
        margin-bottom: 2px;
    }

    .candidat {
        background-color: #389fad;
        border-radius: 10px;
        padding: 5px 10px;
        color: #fff;
    }

    .myIconCandidat {
        vertical-align: -0.2em !important;
        margin-right: 5px;
    }

    .myIconDelete {
        vertical-align: -0.2em !important;
        margin-left: 5px;
        cursor: pointer;
    }

    .myIconDeleteCandidat {
        margin-left: 15px;
        cursor: pointer;
        color: #fff;
    }

    .myIconDeleteCandidat:hover {
        color: #e3342f;
    }
</style>
