<template>
    <div class="container col-lg-8">
        <h1 class="mb-3">
            <router-link to="/users">
                <button class="btn btn-light mt-n2">
                    <i class="fas fa-reply fa-lg text-interface"></i>
                </button>
            </router-link>
            Création d'un nouvel utilisateur
        </h1>
        <v-stepper v-model="step">
            <v-stepper-header>
                <v-stepper-step step="1">Création</v-stepper-step>
            </v-stepper-header>
            <v-stepper-items class="pb-1">
                <!-- Contenu partie 1 : les généralités -->
                <v-stepper-content step="1">
                    <div class="step-content mb-5">
                        <form>
                            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                <b-input-group-prepend is-text>
                                    <span class="text-light-interface font-weight-bold">Prénom*</span>
                                </b-input-group-prepend>
                                <b-form-input v-model="form.firstname" type="text"
                                              :state="validationFirstname"
                                              class="form-control" :class="{ 'is-invalid': form.errors.has('firstname') }"
                                              name="firstname" id="firstname" placeholder="Prénom">
                                </b-form-input>
                                <b-form-invalid-feedback id="input-nom-live-feedback">
                                    Le pr&eacute;nom doit &ecirc;tre compos&eacute; d'au moins 3 lettres.
                                </b-form-invalid-feedback>
                                <has-error :form="form" field="firstname"></has-error>
                            </b-input-group>
                            <b-input-group class="mt-4 mb-2 mr-sm-2 mb-sm-0">
                                <b-input-group-prepend is-text>
                                    <span class="text-light-interface font-weight-bold">Nom*</span>
                                </b-input-group-prepend>
                                <b-form-input v-model="form.lastname" type="text"
                                              :state="validationLastname"
                                              class="form-control" :class="{ 'is-invalid': form.errors.has('lastname') }"
                                              name="lastname" id="lastname" placeholder="Nom">
                                </b-form-input>
                                <b-form-invalid-feedback id="input-nom-live-feedback">
                                    Le nom doit &ecirc;tre compos&eacute; d'au moins 3 lettres.
                                </b-form-invalid-feedback>
                                <has-error :form="form" field="lastname"></has-error>
                            </b-input-group>
                            <b-input-group class="mt-4 mb-2 mr-sm-2 mb-sm-0">
                                <b-input-group-prepend is-text>
                                    <span class="text-light-interface font-weight-bold">Email*</span>
                                </b-input-group-prepend>
                                <b-form-input v-model="form.email" type="email"
                                              :state="validationEmail"
                                              class="form-control" :class="{ 'is-invalid': form.errors.has('email') }"
                                              name="email" id="email" placeholder="Email">
                                </b-form-input>
                                <has-error :form="form" field="email"></has-error>
                            </b-input-group>
                            <b-input-group class="mt-5 mb-2 mr-sm-2 mb-sm-0">
                                <b-input-group-prepend is-text>
                                    <span class="text-light-interface font-weight-bold">Mot de passe*</span>
                                </b-input-group-prepend>
                                <b-form-input v-model="form.password" type="password"
                                              :state="validationPassword"
                                              class="form-control" :class="{ 'is-invalid': form.errors.has('password') }"
                                              name="password" id="password" placeholder="Mot de passe">
                                </b-form-input>
                                <b-form-invalid-feedback id="input-nom-live-feedback">
                                    Le mot de passe doit &ecirc;tre compos&eacute; d'au moins 8 caractères.
                                </b-form-invalid-feedback>
                                <has-error :form="form" field="password"></has-error>
                            </b-input-group>
                            <b-input-group class="mt-5 mb-2 mr-sm-2 mb-sm-0">
                                <b-input-group-prepend is-text>
                                    <span class="text-light-interface font-weight-bold">Fonction</span>
                                </b-input-group-prepend>
                                <b-form-input v-model="form.fonction" type="text"
                                              class="form-control" :class="{ 'is-invalid': form.errors.has('fonction') }"
                                              name="fonction" id="fonction" placeholder="Fonction">
                                </b-form-input>
                                <has-error :form="form" field="fonction"></has-error>
                            </b-input-group>
                            <div class="row">
                                <div class="col">
                                    <b-input-group class="mt-5 mb-5 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">R&ocirc;le*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="form.role"
                                                       :state="validationRole"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('role') }"
                                                       name="role" id="role">
                                            <b-form-select-option :value="null">S&eacute;lectionner un r&ocirc;le</b-form-select-option>
                                            <b-form-select-option value="formateur">Formateur</b-form-select-option>
                                            <b-form-select-option value="commu">Commu</b-form-select-option>
                                            <b-form-select-option value="admin">Admin</b-form-select-option>
                                            <b-form-select-option value="superAdmin">SuperAdmin</b-form-select-option>
                                            <b-form-select-option value="smaster">Master</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="form" field="role"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mt-5 mb-5 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Avatar</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="form.avatar"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('avatar') }"
                                                       name="role" id="role">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option value="Homme">Homme</b-form-select-option>
                                            <b-form-select-option value="Femme">Femme</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="form" field="avatar"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <span class="font-weight-light font-italic text-light-interface"><small>Tous les champs avec * sont obligatoires</small></span>
                        </form>
                    </div>
                    <div class="mt-4 text-right">
                        <v-btn class="btn-success text-light mt-n5" @click="validation()">Cr&eacute;er</v-btn>
                    </div>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
        <v-snackbar v-model="snackbar" color="error" top>
            {{ error }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import {Form} from "vform";

    export default {
        name: "new",
        data() {
            return {
                step: 1,
                form: new Form({
                    firstname: '',
                    lastname: '',
                    email: '',
                    password: '',
                    fonction: '',
                    role: null,
                    avatar: null,
                }),
                errors: null,
                snackbar: false,
                error: {},
            }
        },
        mounted() {
            console.log('New component mounted');
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            },
            validationFirstname() {
                return this.form.firstname.length > 3;
            },
            validationLastname() {
                return this.form.lastname.length > 3;
            },
            validationEmail() {
                return this.form.email !== '';
            },
            validationPassword() {
                return this.form.password.length > 7;
            },
            validationRole() {
                return this.form.role != null;
            },
        },
        methods: {
            validation() {
                if(this.form.firstname !== '' &&
                    this.form.lastname !== '' &&
                    this.form.email !== '' &&
                    this.form.password !== '' &&
                    this.form.role != null) {
                    if(this.form.firstname < 3 && this.form.lastname < 3 ) {
                        this.error = 'Le prénom ou le nom ne comporte pas assez de caractères';
                        this.snackbar = true;
                    } else if (this.form.password <= 8) {
                        this.error = 'Le mot de passe est trop court';
                        this.snackbar = true;
                    } else {
                        this.add();
                    }
                } else {
                    this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                    this.snackbar = true;
                }
            },
            add() {
                this.$Progress.start();
                this.form
                    .post('/api/users/create', this.$data.user)
                    .then((response) => {
                        if(this.form.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Utilisateur créé'
                            });
                            this.$store.dispatch('getUsers');
                            this.$router.push('/users')
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Utilisateur non créé'
                            });
                        }

                    })
                    .catch((error) => {
                        console.log(error);
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    });
            },
        }
    }
</script>

<style scoped>

</style>
