<template>
    <div>
        <h1>Liste des Utilisateurs</h1>
        <div class="row align-items-center mt-2">
            <div class="col-lg-4">
                <div class="btn-wrapper">
                    <router-link to="/users/create" class="btn btn-success px-3">
                        <i class="fas fa-users-cog"></i>
                        Nouveau
                    </router-link>
                </div>
            </div>
        </div>
        <v-simple-table>
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="th">N°</th>
                <th scope="col">Pr&eacute;nom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">R&ocirc;le</th>
                <th scope="col">Cr&eacute;ation</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <template v-if="!users.length">
                <tr class="text-center">
                    Pas d'utilisateurs enregistr&eacute;s
                </tr>
            </template>
            <template v-else>
                <tr v-for="user in users" :key="user.id">
                    <th scope="row">
                        {{ user.id }}
                    </th>
                    <td>
                        {{ user.firstname }}
                    </td>
                    <td>
                        {{ user.lastname | UpperCase }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.role | Capitalize }}
                    </td>
                    <td>
                        {{ user.created_at  | newDate }}
                    </td>
                    <td>
                        <router-link :to="`/users/${user.id}`">
                            <i class="fas fa-eye fa-lg text-blue "></i>
                        </router-link>
                        <!--                        |-->
                        <!--                        <a href="#" @click="editModal(user)">-->
                        <!--                            <i class="fas fa-edit fa-lg text-green"></i>-->
                        <!--                        </a>-->
                        |
                        <button type="button" class="ml-1" @click="destroy(user)">
                            <i class="fas fa-trash fa-lg text-red"></i>
                        </button>
                    </td>
                </tr>
            </template>
            </tbody>
        </v-simple-table>
    </div>
</template>

<script>

    export default {
        name: "utilisateurs-list",

        mounted() {
            if(this.users.length) {
                return
            }
            this.$store.dispatch('getUsers');
            console.log('List component mounted');
        },
        computed: {
            users() {
                return this.$store.getters.users;
            }
        },
        methods: {
            destroy(user) {
                this.$Progress.start();
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, se sera supprimé à vie!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimez!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('api/users/' + user.id)
                            .then(response => {
                                this.$Progress.finish();
                                this.$store.dispatch('getUsers');
                                Swal.fire(
                                    'Supprimez!',
                                    'Utilisateur supprimé!',
                                    'success'
                                );
                                Fire.$emit('RefreshPage'); // Rafraichit la page
                            })
                            .catch(error => {
                                this.$Progress.fail();
                                this.errors = 'Oups, il y a un hic !';
                                this.snackbar = true;
                            })
                    }
                });
            }
        }
    }
</script>

<style scoped>
    .btn-wrapper{
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
