<template>
    <div>
        <h1 class="ml-5 mb-3">
            <router-link to="/profil">
                <button class="btn btn-light mt-n2">
                    <i class="fas fa-reply fa-lg text-interface"></i>
                </button>
            </router-link>
            Modification de votre compte
        </h1>
        <v-tabs class="elevation-2 mt-5" dark>
            <v-tabs-slider></v-tabs-slider>
            <v-tab href="#update">Modifier</v-tab>
            <v-tab-item value="update">
                <v-card flat tile>
                    <v-card-text>
                        <form class="form-horizontal mb-n5">
                            <div class="row form-group">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bolder">Prénom</span>
                                        </div>
                                        <input v-model="form.firstname" type="text" name="firstname"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('firstname') }">
                                        <has-error :form="form" field="firstname"></has-error>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bolder">Nom</span>
                                        </div>
                                        <input v-model="form.lastname" type="text" name="lastname"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('lastname') }">
                                        <has-error :form="form" field="lastname"></has-error>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                                        </div>
                                        <input v-model="form.email" type="email" name="email"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input v-model="form.password" type="password" name="password"
                                               placeholder="Entrez un mot de passe si vous voulez le modifier"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                        <has-error :form="form" field="password"></has-error>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bolder">Fonction</span>
                                        </div>
                                        <input v-model="form.fonction" type="text" name="fonction"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('fonction') }">
                                        <has-error :form="form" field="fonction"></has-error>
                                    </div>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="form-group row text-center">
                                <div class="col">
                                    <button type="submit" @click.prevent="updateProfile" class="btn btn-success">Éditer</button>
                                </div>
                            </div>
                        </form>
                    </v-card-text>
                </v-card>
            </v-tab-item>
        </v-tabs>
    </div>
</template>

<script>
    import Form from "vform";

    export default {
        name: "ProfitEdit",
        data() {
            return {
                form: new Form({
                    id: '',
                    firstname: '',
                    lastname: '',
                    email: '',
                    password: '',
                    fonction: '',
                }),
                user: [],
                file: null,

            }
        },
        mounted() {
            console.log('Edit Profil Component mounted.');
            this.getData();
        },
        computed: {
            currentUser: {
                get() {
                    return this.$store.getters.currentUser;
                }
            },
        },
        methods: {
            getData() {
                this.form.firstname = this.currentUser.firstname;
                this.form.lastname = this.currentUser.lastname;
                this.form.email = this.currentUser.email;
                this.form.fonction = this.currentUser.fonction;
            },
            updateStorageUser() {
                var user = JSON.parse(localStorage.user);
                if(this.form.firstname !== user.firstname ) {
                    user.firstname = this.form.firstname;
                }
                if(this.form.lastname !== user.lastname ) {
                    user.lastname = this.form.lastname;
                }
                if(this.form.email !== user.email ) {
                    user.email = this.form.email;
                }
                if(this.form.fonction !== user.fonction ) {
                    user.fonction = this.form.fonction;
                }
                localStorage.setItem('user', JSON.stringify(user));
            },
            updateProfile(){
                if(this.form.password === ''){
                    this.form.password = undefined;
                }
                this.form
                    .put('api/profil/edit/' + this.currentUser.id)
                    .then(response => {
                        if(this.form.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Profil éditée'
                            });
                            this.updateStorageUser();
                            this.$router.push('/profil');
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Profil éditée'
                            });
                        }
                    })
                    .catch((error)=>{
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    });

            },
        },

    }
</script>

<style scoped>

</style>
