<template>
    <div>
        <h1 class="ml-5">
            <router-link to="/users">
                <button class="btn btn-light mt-n2">
                    <i class="fas fa-reply fa-lg text-interface"></i>
                </button>
            </router-link>
            Fiche d'utilisateur
        </h1>
        <v-row justify="center" v-if="user">
            <v-col cols="12">
                <v-card class="mx-auto" max-width="500" shaped>
                    <v-card-text>
                        <div class="d-flex align-items-start">
                            <v-avatar class="mr-3">
                                <img :src="'images/avatars/'+user.avatar" class="img-circle elevation-2" alt="User Image">
                            </v-avatar>
                            <div>
                        <span class="display-1 text--primary font-weight-bold">
                            {{ user.firstname }} {{ user.lastname | UpperCase }}<br>
                        </span>
                                <p><i>créé depuis le {{ user.created_at | newDate }}</i></p>
                            </div>
                        </div>
                        <v-row>
                            <v-col lg="2">

                            </v-col>
                            <v-col>
                                <strong>EMAIL :</strong> {{ user.email }}<br>
                                <strong>FONCTION :</strong> {{ user.fonction }}<br>
                                <strong>ROLE :</strong> {{ user.role }}<br>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        name: "show",
        data() {
            return {
                user: null,
            }
        },
        mounted() {
            console.log('Show component mounted');
        },
        created() {
            axios.get(`/api/users/${this.$route.params.id}`)
                .then((response) => {
                    this.user = response.data.user;
                })
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            },
            users() {
                return this.$store.getters.users;
            }
        }
    }
</script>

<style scoped>

</style>
