<template>
    <div>
        <h1>Liste des Prospects</h1>
        <div class="row align-items-center mt-2">
            <div class="col-lg-4">
                <div class="btn-wrapper">
                    <router-link to="/inscrits/create" class="btn btn-success px-3">
                        <i class="fas fa-plus"></i>
                        <span class="ml-1">Nouveau</span>
                    </router-link>
                </div>
            </div>
            <div class="col-lg-2 text-right text-light">
                <span>Recherche par :</span>
            </div>
            <div class="col-lg-2">
                <v-select :items="searchColonnes" v-model="colonne" color="blue-grey darken-4" class="mySelect bg-light text-dark" outlined dense hide-details="auto"></v-select>
            </div>
            <div class="col-lg-4">
                <v-text-field v-model="search" label="Recherche" color="blue-grey darken-4" class="mySearch bg-light" outlined dense hide-details="auto" append-icon="fas fa-search"></v-text-field>
            </div>
        </div>
        <v-simple-table fixed-header>
            <thead class>
            <tr>
                <th>N°</th>
                <th class="text-center">NOM</th>
                <th class="text-center">PRÉNOM</th>
                <th>NÉ·E LE</th>
                <th>ADRESSE</th>
                <th>EMAIL</th>
                <th>TÉL</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr v-show="prospects.length" v-for="prospect in prospects" :key="prospect.id">
                <th scope="row">
                    {{ prospect.id }}
                </th>
                <td>
                    {{ prospect.nom | upperCase }}
                </td>
                <td>
                    {{ prospect.prenom }}
                </td>
                <td>
                    {{ prospect.date_naissance | newDate }}
                </td>
                <td>
                    <span v-if="prospect.rue !== null">{{ prospect.rue }}, {{ prospect.numero }} <span v-if="prospect.boite !== null">bte</span> {{ prospect.boite }} - </span>
                    {{ prospect.cp }} {{ prospect.ville }}
                </td>
                <td>
                    {{ prospect.email }}
                </td>
                <td>
                    {{ prospect.tel }}
                </td>
                <td>
                    <!--                    <div class="d-flex flex-row">-->
                    <!--                        <router-link :to="{ name: 'showFormation', params: { id: formation.id }}">-->
                    <!--                            <i class="fas fa-eye fa-lg text-blue mr-1"></i>-->
                    <!--                        </router-link>-->
                    <!--                        |-->
                    <!--                        <router-link :to="{ name: 'editFormation', params: { id: formation.id }}">-->
                    <!--                            <i class="fas fa-edit fa-lg text-green mx-1"></i>-->
                    <!--                        </router-link>-->
                    <!--                        |-->
                    <!--                        <button type="button" class="ml-1" @click="destroy(formation)">-->
                    <!--                            <i class="fas fa-trash fa-lg text-red"></i>-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                </td>
            </tr>
            <tr v-show="!prospects.length && loading === false">
                <td colspan="12" class="pt-4">
                    <div class="alert alert-danger" role="alert">
                        Loading
                    </div>
                </td>
            </tr>
            <tr v-show="!prospects.length && loading === true" class="justify-content-center">
                <td colspan="12" class="pt-4">
                    <div class="alert alert-danger" role="alert">
                        Oups ! Rien ne correspond à votre recherche.
                    </div>
                </td>
            </tr>
            </tbody>
        </v-simple-table>
        <PaginationComponent class="mt-3"
                             v-if="pagination.last_page > 1"
                             :pagination="pagination"
                             :offset="5"
                             @paginate="search === '' ? getData() : searchData()"
        ></PaginationComponent>

        <!-- Snackbar pour les erreurs -->
        <v-snackbar v-model="snackbar" color="error" top>
            {{ errors }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import PaginationComponent from "../../elements/PaginationComponent";

    export default {
        name: "ListProspects",
        components: {
            PaginationComponent,
        },
        data() {
            return {
                loading: false,
                searchColonnes: ['nom', 'prenom', 'rue', 'email', 'tel'],
                colonne: 'nom',
                search: '',
                prospects: [],
                pagination: {
                    current_page: 1,
                },
                snackbar: false,
                errors: {},
            }
        },
        watch: {
            search: function(newSearch, oldSearch) {
                if (newSearch === '') {
                    this.getData();
                } else {
                    this.searchData();
                }
            }
        },
        mounted() {
            console.log('List Prospects component mounted');
            this.getData();
        },
        methods: {
            getData(){
                this.$Progress.start();
                this.loading = false;
                axios.get('api/prospects?page=' + this.pagination.current_page)
                    .then(response => {
                        this.prospects = response.data.data
                        this.pagination = response.data.meta
                        this.$Progress.finish();
                        this.loading= true;
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.errors = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            searchData() {
                this.$Progress.start();
                axios.get('api/search/prospects/' + this.colonne +'/'+ this.search +'?page=' + this.pagination.current_page)
                    .then(response => {
                        this.prospects = response.data.data
                        this.pagination = response.data.meta
                        this.$Progress.finish();
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.errors = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },
    }
</script>

<style scoped>

</style>
