<template>
    <div>
        <h1>
            <button class="btn btn-light" @click="retour">
                <i class="fas fa-reply fa-lg text-interface"></i>
            </button>
            Création d'une nouvelle formation
        </h1>
        <v-stepper v-model="step">
            <v-stepper-header>
                <v-stepper-step :complete="step > 1" step="1">Généralités partie 1</v-stepper-step>

                <v-divider class="light"></v-divider>

                <v-stepper-step :complete="step > 2" step="2">Généralités partie 2</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="step > 3" step="3">Recrutement</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="4">Infos Pouvoir Subsidiant</v-stepper-step>
            </v-stepper-header>
            <v-stepper-items class="pb-1">
                <!-- Contenu partie 1 : les généralités-->
                <v-stepper-content step="1">
                    <div class="step-content mb-6">
                        <form>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Nom*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.nom" type="text"
                                                      :state="validationNom"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('nom') }"
                                                      name="nom" id="nom" placeholder="Nom de la formation">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-nom-live-feedback">
                                            Le nom doit &ecirc;tre compos&eacute; d'au moins 3 lettres.
                                        </b-form-invalid-feedback>
                                        <has-error :form="formFormation" field="nom"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Abr&eacute;viation*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.abreviation" type="text"
                                                      :state="validationAbreviation"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('abreviation') }"
                                                      name="abreviation" id="abreviation" placeholder="Abréviation de la formation">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-nom-live-feedback">
                                            L'abr&eacute;viation doit &ecirc;tre compos&eacute; d'au moins 3 lettres.
                                        </b-form-invalid-feedback>
                                        <has-error :form="formFormation" field="nom"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Session</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.session" type="text"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('session') }"
                                                      name="session" id="session" placeholder="Session de la formation">
                                        </b-form-input>
                                        <has-error :form="formFormation" field="session"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Salle*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formFormation.salle"
                                                       :state="validationSalle"
                                                       class="form-control" :class="{ 'is-invalid': formFormation.errors.has('salle') }"
                                                       name="salle" id="salle" placeholder="Salle de la formation">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option v-for="(salle, salleIndex) in salles" :key="salleIndex" :value="salle.value">{{ salle.nom }}</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formFormation" field="salle"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Début*</span>
                                        </b-input-group-prepend>
                                        <b-form-datepicker v-model="formFormation.date_debut" type="date" local="fr-BE" :hide-header="hideHeader"
                                                           :start-weekday="weekday" :date-disabled-fn="dateDisabled" :min="start_min"
                                                           :state="validationDateDebut" no-flip
                                                           :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                                           class="form-control" :class="{ 'is-invalid': formFormation.errors.has('date_debut') }"
                                                           name="date_debut" id="date_debut" placeholder="Début de la formation">
                                        </b-form-datepicker>
                                        <has-error :form="formFormation" field="date_debut"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Fin*</span>
                                        </b-input-group-prepend>
                                        <b-form-datepicker v-model="formFormation.date_fin" type="date" local="fr-BE" :hide-header="hideHeader"
                                                           :start-weekday="weekday" :date-disabled-fn="dateDisabled" :min="formFormation.date_debut"
                                                           :state="validationDateFin" no-flip
                                                           :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                                           class="form-control" :class="{ 'is-invalid': formFormation.errors.has('date_fin') }"
                                                           name="date_fin" id="date_fin" placeholder="Fin de la formation">
                                        </b-form-datepicker>
                                        <has-error :form="formFormation" field="date_fin"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Min. stagiaires*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formFormation.min_stagiaires" type="number" min="0"
                                                      :state="validationMinStagiaires"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('min_stagiaires') }"
                                                      name="min_stagiaires" id="min_stagiaires" placeholder="Minimum de stagiaires">
                                        </b-form-input>
                                        <has-error :form="formFormation" field="min_stagiaires"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Max. stagiaires*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formFormation.max_stagiaires" type="number" min="0"
                                                      :state="validationMaxStagiaires"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('max_stagiaires') }"
                                                      name="max_stagiaires" id="max_stagiaires" placeholder="Maximum de stagiaires">
                                        </b-form-input>
                                        <has-error :form="formFormation" field="max_stagiaires"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Nombre d'heures*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formFormation.nbre_heures" type="number" min="0"
                                                      :state="validationNbreHeures"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('nbre_heures') }"
                                                      name="nbre_heures" id="nbre_heures" placeholder="Nombre d'heures">
                                        </b-form-input>
                                        <has-error :form="formFormation" field="nbre_heures"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Prix*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formFormation.prix" type="number" min="0"
                                                      :state="validationPrix"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('prix') }"
                                                      name="prix" id="prix" placeholder="Prix">
                                        </b-form-input>
                                        <b-input-group-append is-text>
                                            <span class="text-light-interface font-weight-bold">€</span>
                                        </b-input-group-append>
                                        <has-error :form="formFormation" field="prix"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <span class="font-weight-light font-italic text-light-interface"><small>Tous les champs avec * sont obligatoires</small></span>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn-interface text-light" @click="validationStepOne()">Continuer</v-btn>
                    </div>
                </v-stepper-content>
                <!-- Contenu partie 2 : les généralités suite-->
                <v-stepper-content step="2">
                    <div class="step-content mb-6">
                        <form>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Tuteur·rice*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formFormation.user_id"
                                                       :state="validationTuteur"
                                                       class="form-control" :class="{ 'is-invalid': formFormation.errors.has('user_id') }"
                                                       name="user_id" id="user_id">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option v-for="user in users.users" :key="user.id" :value="user.id">{{ user.firstname + ' ' + user.lastname }}</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formFormation" field="user_id"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Pouvoir Subsidiant*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formFormation.pouvsub_id"
                                                       :state="validationPouvsub"
                                                       class="form-control" :class="{ 'is-invalid': formFormation.errors.has('pouvsub_id') }"
                                                       name="pouvsub_id" id="pouvsub_id">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option v-for="pouvsub in pouvsubs" :key="pouvsub.id" :value="pouvsub.id">{{ pouvsub.nom }}</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formFormation" field="pouvsub_id"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Commentaire(s)</span>
                                        </b-input-group-prepend>
                                        <b-form-textarea v-model="formFormation.commentaire_formation" rows="5" class="form-control"
                                                         name="commentaire_formation" id="commentaire_formation" placeholder="Entrez  un commentaire...">
                                        </b-form-textarea>
                                        <has-error :form="formFormation" field="commentaire_formation"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <span class="font-weight-light font-italic text-light-interface"><small>Tous les champs avec * sont obligatoires</small></span>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn btn-danger text-light" @click="step = 1">Retour</v-btn>
                        <v-btn class="btn-success text-light" @click="validationStepTwo()">Cr&eacute;er</v-btn>
                    </div>
                </v-stepper-content>
                <!-- Contenu partie 3 : Le recrutement -->
                <v-stepper-content step="3">
                    <div class="step-content mb-6">
                        <div class="row row-cols-2">
                            <div class="col-8">
                                <span class="text-orange font-weight-bold">Cocher la case s'il y a des jours de recrutement :</span>
                                <v-checkbox v-model="ifRecrutement" @click="checkRecrutement($event)"
                                            label="Formation avec recrutement ?" class="myLabel ml-5" color="success" hide-details></v-checkbox>
                            </div>
                            <div class="col-4 text-center mt-5" v-show="ifRecrutement === true">
                                <button class="btn btn-success" @click="addNewDate">
                                    Nouvelle date
                                </button>
                                <button class="btn btn-primary" @click="refreshRecrutement">
                                    Refresh
                                </button>
                            </div>
                        </div>
                        <div class="row" v-show="ifRecrutement === true">
                            <div class="col-4" v-for="(recrutement, index) in recrutements">
                                <div>
                                    <h6 class="float-left">Date n° {{ index + 1 }}</h6>
                                    <span class="float-right text-red font-weight-bold" style="cursor:pointer" @click="deleteDate(index)">X</span>
                                </div>
                                <b-form-datepicker v-model="recrutement.date" type="date" local="fr-BE" :hide-header="hideHeader"
                                                   :start-weekday="weekday" :date-disabled-fn="dateDisabled" :min="min" :max="formation.date_debut"
                                                   :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                                   class="form-control" placeholder="Date du recrutement">
                                </b-form-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn btn-danger text-light" @click="step = 2">Retour</v-btn>
                        <v-btn class="btn-interface text-light" @click="validationStepThree()">Continuer</v-btn>
                    </div>
                </v-stepper-content>
                <!-- Contenu partie 4 : Les infos pour le pouvoir subsidiant  -->
                <v-stepper-content step="4">
                    <div class="step-content mb-6">
                        <form>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <v-checkbox v-model="formPouvsub.adresse" label="ADRESSE" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formPouvsub.age" label="ÂGE" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formPouvsub.num_national" label="NUMÉRO NATIONAL" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formPouvsub.diplome" label="DIPLOME" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formPouvsub.moyen_recrutement" label="MOYEN DE RECRUTEMENT" class="myLabel" color="success" hide-details></v-checkbox>
                                </div>
                                <div class="col">
                                    <v-checkbox v-model="formPouvsub.date_naissance" label="DATE DE NAISSANCE" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formPouvsub.email" label="EMAIL" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formPouvsub.statut_legal" label="STATUT LÉGAL" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formPouvsub.duree_chomage" label="DURÉE DE CHÔMAGE" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formPouvsub.groupe_social" label="GROUPE SOCIAL" class="myLabel" color="success" hide-details></v-checkbox>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn btn-danger text-light" @click="step = 3">Retour</v-btn>
                        <v-btn color="btn btn-success text-light" @click="storeInfosPouvSub()">Cr&eacute;er</v-btn>
                    </div>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
        <v-snackbar v-model="snackbar" color="error" top>
            {{ error }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import {Form} from "vform";

    export default {
        name: "CreateFormation",
        data () {
            const now = new Date()
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
            const minDate = new Date(today)
            return {
                step: 1,
                hideHeader: true,
                weekday: 1,
                start_min: minDate,
                end_min: minDate,
                min: minDate,
                formFormation : new Form({
                    id: '',
                    nom: '',
                    session: '',
                    date_debut: null,
                    date_fin: null,
                    min_stagiaires: '',
                    max_stagiaires: '',
                    nbre_heures: '',
                    salle: null,
                    prix: '',
                    commentaire_formation: '',
                    user_id: null,
                    pouvsub_id: null,
                    statut: 'futur',
                    abreviation: '',
                }),
                users: [],
                pouvsubs: [],
                salles: [
                    { nom: 'salle bleue', value: 'salle bleue' },
                    { nom: 'grande salle', value: 'grande salle' },
                    { nom: 'salle rose', value: 'salle rose' },
                    { nom: 'salle PC', value: 'salle PC' },
                    { nom: 'salle externe', value: 'salle externe' },
                ],
                PouvsubInfoOn: false,
                pouvsub: [],
                formation: [],
                ifRecrutement: false,
                nbreRecrutements: null,
                formRecrutement : new Form({
                    formation_id: null,
                    date: null,
                }),
                recrutements: [],
                formPouvsub : new Form({
                    id: '',
                    formation_id: null,
                    pouvsub_id: null,
                    adresse: false,
                    date_naissance: false,
                    age: false,
                    email: false,
                    num_national: false,
                    statut_legal: false,
                    diplome: false,
                    duree_chomage: false,
                    moyen_recrutement: false,
                    groupe_social: false,
                }),
                snackbar: false,
                error: '',
                event: null,
                dateManquante: 0,
                finStoreRecrutement: false,
                recrutementOff: false,
            }
        },
        mounted() {
            console.log('CreateFormation component mounted');
            this.getUsers();
            this.getPouvsubs();
        },
        computed: {
            validationNom() {
                return this.formFormation.nom.length > 2
            },
            validationTuteur() {
                return this.formFormation.user_id != null
            },
            validationSalle() {
                return this.formFormation.salle != null
            },
            validationDateDebut() {
                return this.formFormation.date_debut != null
            },
            validationDateFin() {
                return this.formFormation.date_fin != null
            },
            validationMinStagiaires() {
                return this.formFormation.min_stagiaires !== ''
            },
            validationMaxStagiaires() {
                return this.formFormation.max_stagiaires !== ''
            },
            validationNbreHeures() {
                return this.formFormation.nbre_heures !== ''
            },
            validationPrix() {
                return this.formFormation.prix !== ''
            },
            validationPouvsub() {
                return this.formFormation.pouvsub_id != null
            },
            validationRecrutementDate() {
                return this.formRecrutement.date != null
            },
            validationAbreviation() {
                return this.formFormation.abreviation.length > 2
            },
        },
        methods: {
            retour() {
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, vous retournez à la liste des formations!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3CB521',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '<strong>RETOUR</strong>'
                }).then((result) => {
                    if (result.value) {
                        this.$router.push('/formations')
                    }
                });
            },
            twoDigit(n) {
                return (n < 10 ? '0' : '') + n
            },
            dateDisabled(ymd, date) {
                const weekday = date.getDay()
                const day = date.getDate()
                return weekday === 0 || weekday === 6
            },
            getUsers() {
                axios.get('api/users/')
                    .then(response => {
                        this.users = response.data
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            getPouvsubs() {
                axios.get('api/pouvsubs/')
                    .then(response => {
                        this.pouvsubs = response.data.data
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            validationStepOne() {
                if(this.formFormation.nom !== '' &&
                    this.formFormation.salle !== null &&
                    this.formFormation.date_debut !== null &&
                    this.formFormation.date_fin !== null &&
                    this.formFormation.min_stagiaires !== '' &&
                    this.formFormation.max_stagiaires !== '' &&
                    this.formFormation.nbre_heures !== '' &&
                    this.formFormation.prix !== '' &&
                    this.formFormation.abreviation !== '') {
                    if(this.formFormation.min_stagiaires >= 0 &&
                        this.formFormation.max_stagiaires >= 0 &&
                        this.formFormation.nbre_heures >= 0 &&
                        this.formFormation.prix >= 0 ) {
                        if(this.twoDigit(this.formFormation.min_stagiaires) <= this.twoDigit(this.formFormation.max_stagiaires)) {
                            this.step = 2;
                        } else {
                            this.error = 'Nombre de stagiaire : Le minimum doit être plus petit que le max !';
                            this.snackbar = true;
                        }
                    } else {
                        this.error = 'Vous avez rempli des champs avec un nombre négatif !';
                        this.snackbar = true;
                    }
                } else {
                    this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                    this.snackbar = true;
                }
            },
            storeFormation() {
                this.$Progress.start();
                this.formFormation
                    .post('api/formations/create')
                    .then(response => {
                        if(this.formFormation.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Formation créée'
                            });
                            this.getIdLatestFormation();
                            this.step = 3;
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Formation non créée'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            },
            validationStepTwo() {
                if(this.formFormation.user_id !== null && this.formFormation.pouvsub !== null)
                {
                    this.getPouvsub(this.formFormation.pouvsub_id);
                    this.storeFormation();
                } else {
                    this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                    this.snackbar = true;
                }
            },
            getPouvsub(id) {
                axios.get('api/pouvsubs/'+ id)
                    .then(response => {
                        this.pouvsub = response.data
                    })
                    .catch(error => {
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getIdLatestFormation() {
                axios.get('api/formations/latest')
                    .then(response => {
                        this.formation = response.data.data;
                    })
                    .catch(error => {
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            checkRecrutement: function(e) {
                this.ifRecrutement = true;
                this.getIdLatestFormation();
            },
            addNewDate() {
                this.recrutements.push({
                    formation_id: this.formation.id,
                    date: null,
                })
            },
            deleteDate(index) {
                if(this.recrutements.length > 1) {
                    this.recrutements.splice(index, 1);
                }
            },
            refreshRecrutement() {
                this.ifRecrutement = false;
                this.recrutements = [];
            },
            getPouvsubInfos() {
                this.formPouvsub.pouvsub_id = this.formation.pouvsub_id;
                this.formPouvsub.formation_id = this.formation.id;
                this.formPouvsub.adresse = this.pouvsub.data.adresse;
                this.formPouvsub.date_naissance = this.pouvsub.data.date_naissance;
                this.formPouvsub.age = this.pouvsub.data.age;
                this.formPouvsub.email = this.pouvsub.data.email;
                this.formPouvsub.num_national = this.pouvsub.data.num_national;
                this.formPouvsub.statut_legal = this.pouvsub.data.statut_legal;
                this.formPouvsub.diplome = this.pouvsub.data.diplome;
                this.formPouvsub.duree_chomage = this.pouvsub.data.duree_chomage;
                this.formPouvsub.moyen_recrutement = this.pouvsub.data.moyen_recrutement;
                this.formPouvsub.groupe_social = this.pouvsub.data.groupe_social;
                this.PouvsubInfoOn = true;
            },
            storeRecrutements() {
                this.finStoreRecrutement = false;
                for(var x = 0; x < this.recrutements.length; x++) {
                    this.formRecrutement = new Form({
                        formation_id: this.recrutements[x].formation_id,
                        date: this.recrutements[x].date,
                    });
                    this.storeRecrutement();
                    if(x === this.recrutements.length-1) {
                        this.finStoreRecrutement = true;
                    }
                }
            },
            storeRecrutement() {
                this.$Progress.start();
                this.formRecrutement
                    .post('api/recrutements')
                    .then(response => {
                        if(this.formRecrutement.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Recrutement créé'
                            });
                            if(this.finStoreRecrutement === true) {
                                this.step = 4;
                            }
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Recrutement non créée'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            },
            validationStepThree() {
                if(this.ifRecrutement === false) {
                    this.getPouvsubInfos()
                    this.step = 4;
                } else {
                    if(this.ifRecrutement === true && this.recrutements.length > 0) {
                        for(var i = 0; i < this.recrutements.length; i++) {
                            if(this.recrutements[i].date === null) {
                                this.dateManquante = this.dateManquante + 1;
                            } else {
                                this.dateManquante = 0;
                            }
                        }
                        if(this.dateManquante > 0) {
                            this.error = 'Vous n\'avez pas encodé toutes les dates';
                            this.snackbar = true;
                        } else {
                            this.getPouvsubInfos();
                            if(this.ifRecrutement === true) {
                                this.storeRecrutements();
                            }
                        }
                    } else {
                        this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                        this.snackbar = true;
                    }
                }
            },
            storeInfosPouvSub() {
                this.$Progress.start();
                this.formPouvsub
                    .post('api/pouvsub-infos/create')
                    .then(response => {
                        if(this.formPouvsub.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Infos du pouvoir subsidiant créés'
                            });
                            this.$router.push('/formations')
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Infos du pouvoir subsidiant non créés'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            }
        }
    }
</script>

<style scoped>
    .step-content {
        height: 350px;
    }
</style>
