<template>
    <div>
        <h1>
            <button class="btn btn-light" @click="retour">
                <i class="fas fa-reply fa-lg text-interface"></i>
            </button>
            Modification de la formation
        </h1>
        <v-stepper v-model="step">
            <v-stepper-header>
                <v-stepper-step :complete="step > 1" step="1">Généralités partie 1</v-stepper-step>

                <v-divider class="light"></v-divider>

                <v-stepper-step :complete="step > 2" step="2">Généralités partie 2</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="3">Infos Pouvoir Subsidiant</v-stepper-step>
            </v-stepper-header>
            <v-stepper-items class="pb-1">
                <!-- Contenu partie 1 : les généralités-->
                <v-stepper-content step="1">
                    <div class="step-content mb-6" v-show="loading === false">
                        <div class="alert alert-danger" role="alert">
                            Loading
                        </div>
                    </div>
                    <div class="step-content mb-6" v-show="loading === true">
                        <form >
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Nom*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.nom" type="text"
                                                      :state="validationNom"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('nom') }"
                                                      name="nom" id="nom">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-nom-live-feedback">
                                            Le nom doit &ecirc;tre compos&eacute; d'au moins 3 lettres.
                                        </b-form-invalid-feedback>
                                        <has-error :form="formFormation" field="nom"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Abr&eacute;viation*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.abreviation" type="text"
                                                      :state="validationAbreviation"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('abreviation') }"
                                                      name="abreviation" id="abreviation" placeholder="Abréviation de la formation">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-nom-live-feedback">
                                            L'abr&eacute;viation doit &ecirc;tre compos&eacute; d'au moins 3 lettres.
                                        </b-form-invalid-feedback>
                                        <has-error :form="formFormation" field="nom"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Session</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.session" type="text"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('session') }"
                                                      name="session" id="session" placeholder="Session de la formation">
                                        </b-form-input>
                                        <has-error :form="formFormation" field="session"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Salle*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formFormation.salle"
                                                       :state="validationSalle"
                                                       class="form-control" :class="{ 'is-invalid': formFormation.errors.has('salle') }"
                                                       name="salle" id="salle" placeholder="Salle de la formation">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option v-for="(salle, salleIndex) in salles" :key="salleIndex" :value="salle.value">{{ salle.nom }}</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formFormation" field="salle"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Début*</span>
                                        </b-input-group-prepend>
                                        <b-form-datepicker v-model="formFormation.date_debut" type="date" local="fr-BE" :hide-header="hideHeader"
                                                           :start-weekday="weekday" :date-disabled-fn="dateDisabled" :min="start_min"
                                                           :state="validationDateDebut"
                                                           :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                                           class="form-control" :class="{ 'is-invalid': formFormation.errors.has('date_debut') }"
                                                           name="date_debut" id="date_debut" placeholder="Début de la formation">
                                        </b-form-datepicker>
                                        <has-error :form="formFormation" field="date_debut"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Fin*</span>
                                        </b-input-group-prepend>
                                        <b-form-datepicker v-model="formFormation.date_fin" type="date" local="fr-BE" :hide-header="hideHeader"
                                                           :start-weekday="weekday" :date-disabled-fn="dateDisabled" :min="start_min"
                                                           :state="validationDateFin"
                                                           :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                                           class="form-control" :class="{ 'is-invalid': formFormation.errors.has('date_fin') }"
                                                           name="date_fin" id="date_fin" placeholder="Fin de la formation">
                                        </b-form-datepicker>
                                        <has-error :form="formFormation" field="date_fin"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Min. stagiaires*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.min_stagiaires" type="number" min="0"
                                                      :state="validationMinStagiaires"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('min_stagiaires') }"
                                                      name="min_stagiaires" id="min_stagiaires" placeholder="Minimum de stagiaires">
                                        </b-form-input>
                                        <has-error :form="formFormation" field="min_stagiaires"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Max. stagiaires*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.max_stagiaires" type="number" min="0"
                                                      :state="validationMaxStagiaires"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('max_stagiaires') }"
                                                      name="max_stagiaires" id="max_stagiaires" placeholder="Maximum de stagiaires">
                                        </b-form-input>
                                        <has-error :form="formFormation" field="max_stagiaires"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Nombre d'heures*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.nbre_heures" type="number" min="0"
                                                      :state="validationNbreHeures"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('nbre_heures') }"
                                                      name="nbre_heures" id="nbre_heures" placeholder="Nombre d'heures">
                                        </b-form-input>
                                        <has-error :form="formFormation" field="nbre_heures"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Prix*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formFormation.prix" type="number" min="0"
                                                      :state="validationPrix"
                                                      class="form-control" :class="{ 'is-invalid': formFormation.errors.has('prix') }"
                                                      name="prix" id="prix" placeholder="Prix">
                                        </b-form-input>
                                        <b-input-group-append is-text>
                                            <span class="text-light-interface font-weight-bold">€</span>
                                        </b-input-group-append>
                                        <has-error :form="formFormation" field="prix"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <span class="font-weight-light font-italic text-light-interface"><small>Tous les champs avec * sont obligatoires</small></span>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn-interface text-light" @click="validationStepOne()">Continuer</v-btn>
                    </div>
                </v-stepper-content>
                <!-- Contenu partie 2 : les généralités suite-->
                <v-stepper-content step="2">
                    <div class="step-content mb-6">
                        <form>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Tuteur·rice*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formFormation.user_id"
                                                       :state="validationTuteur"
                                                       class="form-control" :class="{ 'is-invalid': formFormation.errors.has('user_id') }"
                                                       name="user_id" id="user_id">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option v-for="user in users.users" :key="user.id" :value="user.id">{{ user.firstname + ' ' + user.lastname }}</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formFormation" field="user_id"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Pouvoir Subsidiant*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formFormation.pouvsub_id"
                                                       :state="validationPouvsub"
                                                       class="form-control" :class="{ 'is-invalid': formFormation.errors.has('pouvsub_id') }"
                                                       name="pouvsub_id" id="pouvsub_id">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option v-for="pouvsub in pouvsubs" :key="pouvsub.id" :value="pouvsub.id">{{ pouvsub.nom }}</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formFormation" field="pouvsub_id"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Commentaire(s)</span>
                                        </b-input-group-prepend>
                                        <b-form-textarea v-model="formFormation.commentaire_formation" rows="5" class="form-control"
                                                         name="commentaire_formation" id="commentaire_formation" placeholder="Entrez  un commentaire...">
                                        </b-form-textarea>
                                        <has-error :form="formFormation" field="commentaire_formation"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <span class="font-weight-light font-italic text-light-interface"><small>Tous les champs avec * sont obligatoires</small></span>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn btn-danger text-light" @click="step = 1">Retour</v-btn>
                        <v-btn class="btn-success text-light" @click="validationStepTwo()">&Eacute;diter</v-btn>
                    </div>
                </v-stepper-content>
                <!-- Contenu partie 3 : Les infos pour le pouvoir subsidiant  -->
                <v-stepper-content step="3">
                    <div class="step-content mb-6">
                        <form>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <v-checkbox v-model="formInfosPouvsub.adresse" label="ADRESSE" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formInfosPouvsub.age" label="ÂGE" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formInfosPouvsub.num_national" label="NUMÉRO NATIONAL" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formInfosPouvsub.diplome" label="DIPLOME" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formInfosPouvsub.moyen_recrutement" label="MOYEN DE RECRUTEMENT" class="myLabel" color="success" hide-details></v-checkbox>
                                </div>
                                <div class="col">
                                    <v-checkbox v-model="formInfosPouvsub.date_naissance" label="DATE DE NAISSANCE" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formInfosPouvsub.email" label="EMAIL" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formInfosPouvsub.statut_legal" label="STATUT LÉGAL" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formInfosPouvsub.duree_chomage" label="DURÉE DE CHÔMAGE" class="myLabel" color="success" hide-details></v-checkbox>
                                    <v-checkbox v-model="formInfosPouvsub.groupe_social" label="GROUPE SOCIAL" class="myLabel" color="success" hide-details></v-checkbox>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn btn-danger text-light" @click="step = 2">Retour</v-btn>
                        <v-btn color="btn btn-success text-light" @click="editInfosPouvSub()">&Eacute;diter</v-btn>
                    </div>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
        <v-snackbar v-model="snackbar" color="error" top>
            {{ error }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import {Form} from "vform";

    export default {
        name: "EditFormation",
        data () {
            const now = new Date()
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
            const minDate = new Date(today)
            return {
                step: 1,
                hideHeader: true,
                weekday: 1,
                start_min: minDate,
                end_min: minDate,
                formation: {},
                pouvsub: {},
                infospouvsub: {},
                loading: false,
                formFormation : new Form({
                    id: '',
                    nom: '',
                    session: '',
                    date_debut: null,
                    date_fin: null,
                    min_stagiaires: '',
                    max_stagiaires: '',
                    nbre_heures: '',
                    salle: null,
                    prix: '',
                    commentaire_formation: '',
                    user_id: null,
                    pouvsub_id: null,
                    statut: '',
                    abreviation: '',
                }),
                users: [],
                pouvsubs: [],
                salles: [
                    { nom: 'salle bleue', value: 'salle bleue' },
                    { nom: 'grande salle', value: 'grande salle' },
                    { nom: 'salle rose', value: 'salle rose' },
                    { nom: 'salle PC', value: 'salle PC' },
                    { nom: 'salle externe', value: 'salle externe' },
                ],
                formInfosPouvsub : new Form({
                    id: '',
                    formation_id: null,
                    pouvsub_id: null,
                    adresse: false,
                    date_naissance: false,
                    age: false,
                    email: false,
                    num_national: false,
                    statut_legal: false,
                    diplome: false,
                    duree_chomage: false,
                    moyen_recrutement: false,
                    groupe_social: false,
                }),
                snackbar: false,
                error: '',
                event: null,
            }
        },
        mounted() {
            console.log('CreateFormation component mounted');
            this.getFormation();
            this.getUsers();
            this.getPouvsubs();
        },
        computed: {
            validationNom() {
                return this.formFormation.nom.length > 2
            },
            validationTuteur() {
                return this.formFormation.user_id != null
            },
            validationSalle() {
                return this.formFormation.salle != null
            },
            validationDateDebut() {
                return this.formFormation.date_debut != null
            },
            validationDateFin() {
                return this.formFormation.date_fin != null
            },
            validationMinStagiaires() {
                return this.formFormation.min_stagiaires !== ''
            },
            validationMaxStagiaires() {
                return this.formFormation.max_stagiaires !== ''
            },
            validationNbreHeures() {
                return this.formFormation.nbre_heures !== ''
            },
            validationPrix() {
                return this.formFormation.prix != null
            },
            validationPouvsub() {
                return this.formFormation.pouvsub_id != null
            },
            validationRecrutementDate() {
                return this.formRecrutement.date != null
            },
            validationAbreviation() {
                return this.formFormation.abreviation.length > 2
            },
        },
        methods: {
            retour() {
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, vous retournez à la liste des formations!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3CB521',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '<strong>RETOUR</strong>'
                }).then((result) => {
                    if (result.value) {
                        this.$router.push('/formations')
                    }
                });
            },
            twoDigit(n) {
                return (n < 10 ? '0' : '') + n
            },
            dateDisabled(ymd, date) {
                const weekday = date.getDay()
                const day = date.getDate()
                return weekday === 0 || weekday === 6
            },
            getFormation() {
                this.$Progress.start();
                this.loading = false;
                axios.get(`/api/formations/show/${this.$route.params.id}`)
                    .then((response) => {
                        this.formation = response.data.formation;
                        this.pouvsub = response.data.pouvsub;
                        this.infospouvsub = response.data.infospouvsub;
                        this.getFormFormation(this.formation);
                        this.$Progress.finish();
                        this.loading = true;
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getFormFormation(formation) {
                this.formFormation.reset();
                this.formFormation.clear();
                this.formFormation.fill(formation);
            },
            getUsers() {
                axios.get('api/users/')
                    .then(response => {
                        this.users = response.data
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            getPouvsubs() {
                axios.get('api/pouvsubs/')
                    .then(response => {
                        this.pouvsubs = response.data.data
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            validationStepOne() {
                if(this.formFormation.nom !== '' &&
                    this.formFormation.salle !== null &&
                    this.formFormation.date_debut !== null &&
                    this.formFormation.date_fin !== null &&
                    this.formFormation.min_stagiaires !== '' &&
                    this.formFormation.max_stagiaires !== '' &&
                    this.formFormation.nbre_heures !== '' &&
                    this.formFormation.prix !== '') {
                    if(this.formFormation.min_stagiaires >= 0 &&
                        this.formFormation.max_stagiaires >= 0 &&
                        this.formFormation.nbre_heures >= 0 &&
                        this.formFormation.prix >= 0 ) {
                        if(this.twoDigit(this.formFormation.min_stagiaires) <= this.twoDigit(this.formFormation.max_stagiaires)) {
                            this.step = 2;
                        } else {
                            this.error = 'Nombre de stagiaire : Le minimum doit être plus petit que le max !';
                            this.snackbar = true;
                        }
                    } else {
                        this.error = 'Vous avez rempli des champs avec un nombre négatif !';
                        this.snackbar = true;
                    }
                } else {
                    this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                    this.snackbar = true;
                }
            },
            editFormation() {
                this.$Progress.start();
                this.formFormation
                    .put(`/api/formations/edit/${this.$route.params.id}`)
                    .then(response => {
                        if(this.formFormation.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Formation éditée'
                            });
                            this.getFormInfosPouvSub(this.infospouvsub)
                            this.step = 3;
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Formation non éditée'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            },
            validationStepTwo() {
                if(this.formFormation.user_id !== null && this.formFormation.pouvsub !== null)
                {
                    this.editFormation();
                } else {
                    this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                    this.snackbar = true;
                }
            },
            getFormInfosPouvSub(infospouvsub) {
                this.formInfosPouvsub.reset();
                this.formInfosPouvsub.clear();
                this.formInfosPouvsub.fill(infospouvsub);
                this.formInfosPouvsub.pouvsub_id = this.formFormation.pouvsub_id
            },
            editInfosPouvSub() {
                this.$Progress.start();
                this.formInfosPouvsub
                    .put(`/api/pouvsub-infos/edit/${this.formInfosPouvsub.id}`)
                    .then(response => {
                        if(this.formInfosPouvsub.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Infos du pouvoir subsidiant édités'
                            });
                            this.$router.push('/formations')
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Infos du pouvoir subsidiant non édités'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            }
        }
    }
</script>

<style scoped>
    .step-content {
        height: 350px;
    }
</style>
