<template>
    <div>
        <h1 class="ml-5 mb-3">
            <a @click="goBack">
                <button class="btn btn-light mt-n2">
                    <i class="fas fa-reply fa-lg text-interface"></i>
                </button>
            </a>
            Fiche de Formation
        </h1>
        <v-row justify="center" class="mt-n5" v-if="formation">
            <v-col cols="12">
                <v-card class="mx-auto" shaped>
                    <v-card-text class="p-3  ml-2">
                        <v-row>
                            <v-col cols="8" class="d-flex align-baseline">
                                <h2 class="font-weight-bolder">{{ formation.nom | UpperCase }}</h2>
                                <span class="ml-5">{{ formation.session | UpperCase }}</span>
                            </v-col>
                            <v-col cols="4" class="col d-flex flex-column text-right">
                                <span class="mr-5"><i>Création : le {{ formation.created_at | newDate }}</i></span>
                                <span class="mr-5"><i>Dernière modification : le {{ formation.updated_at | newDate }}</i></span>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="text-start">
                                <i class="fas fa-calendar-day fa-lg text-interface mr-2"></i>Du <span class="font-weight-bolder text-interface">{{ formation.date_debut | newDate }}</span> au <span class="font-weight-bolder text-interface">{{ formation.date_fin | newDate }}</span>
                            </v-col>
                            <v-col class="text-start">
                                <i class="fas fa-users fa-lg text-interface mr-2"></i>De <span class="font-weight-bolder text-interface">{{ formation.min_stagiaires }}</span> à <span class="font-weight-bolder text-interface">{{ formation.max_stagiaires }}</span> stagiaires
                            </v-col>
                            <v-col class="text-start">
                                <i class="fas fa-clock fa-lg text-interface mr-2"></i>Nombres d'heures : <span class="font-weight-bolder text-interface">{{ formation.nbre_heures }} h</span>.
                            </v-col>
                            <v-col class="text-start">
                                <i class="fas fa-shopping-cart fa-lg text-interface mr-2"></i>Prix par stagiaire : <span class="font-weight-bolder text-interface">{{ formation.prix }}€</span>.
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="text-start">
                                <i class="fas fa-door-open fa-lg text-interface mr-2"></i>Salle : <span class="font-weight-bolder text-interface">{{ formation.salle }}</span>
                            </v-col>
                            <v-col class="text-start">
                                <i class="fas fa-user fa-lg text-interface ml-1 mr-2"></i>Tuteur·rice : <span class="font-weight-bolder text-interface">{{ formation.tuteur }}</span>
                            </v-col>
                            <v-col class="text-start">
                                <a @click="show()" class="myLink">
                                    <i class="fas fa-hand-holding-usd fa-lg text-interface mr-2"></i>Pouvoir subsidiant : <span class="font-weight-bolder text-interface">{{ formation.pouvsub }}</span>
                                </a>
                            </v-col>
                            <v-col class="text-start">
                                <i class="fas fa-bell fa-lg text-interface mr-2"></i>Statut : <span class="font-weight-bolder text-interface">{{ formation.statut }}</span>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col class="text-start">
                                <h6>Commentaires :</h6>
                                <p class="ml-3">{{ formation.commentaire_formation }}</p>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
                <v-row>
                    <v-col>
                        <v-tabs class="elevation-2 mt-2" dark>
                            <v-tabs-slider></v-tabs-slider>
                            <v-tab href="#listStagiaires">Liste des stagiaires</v-tab>
                            <v-tab href="#ajoutStagiaires">Ajout de stagiaires</v-tab>
                            <v-tab href="#ajoutRecrutements">Recrutement(s)</v-tab>
                            <v-tab href="#uploadPdf">Documents</v-tab>
                            <v-tab-item value="listStagiaires">
                                <v-card flat tile>
                                    <v-card-text>
                                        <div class="row" v-if="stagiaires.length > 0">
                                            <div class="col col-3 default" v-for="stagiaire in stagiaires" :key="stagiaire.id">
                                                <div class="bloc text-center mb-5 elevation-2">
                                                    <router-link :to="{ name: 'showInscrit', params: { id: stagiaire.id }}"
                                                                 class="link default">
                                                        <i class="fas fa-user fa-lg myIcon"></i>
                                                        <strong>{{ stagiaire.nom | upperCase }} {{ stagiaire.prenom }}</strong>
                                                    </router-link><br>
                                                    <i class="fas fa-times fa-lg myIconDeleteStagiaire" v-on:click="deleteStagiaire(stagiaire.id)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else class="row">
                                            <div class="col">
                                                Aucun stagiaire inscrit à la formation
                                            </div>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </v-tab-item>
                            <v-tab-item value="ajoutStagiaires">
                                <v-card flat tile>
                                    <v-card-text>
                                        <div class="row row-cols-4">
                                            <div class="col col-3 mb-5">
                                                <b-form-input type="text" placeholder="Rechercher un·e inscrit·e" v-model="query"></b-form-input>
                                                <div v-if="results.length > 0 && query" class="list_inscrits elevation-4">
                                                    <ul>
                                                        <li v-for="result in results.slice(0,10)" :key="result.id">
                                                            <div class="d-inline-flex">
                                                                <span class="inscrit" v-on:click="ajoutStagiaire(result.searchable.id, result.searchable.nom, result.searchable.prenom)">
                                                                    <i class="fas fa-user-plus fa-lg myIcon"></i>
                                                                    <span v-text="result.title" class="span_inscrit"></span>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col col-6">
                                                <h6>Liste des stagiaires à ajouter :</h6>
                                                <div v-if="listStagiaires.length > 0" class="list_stagiaires">
                                                    <ul>
                                                        <li v-for="(personne, index) in listStagiaires" :key="personne.id">
                                                            <div class="d-inline-flex stagiaire">
                                                                <i class="fas fa-user fa-lg myIconStagiaire"></i>
                                                                {{ personne.nom | upperCase }} {{ personne.prenom }}
                                                                <i class="fas fa-times fa-lg myIconDelete" v-on:click="deleteListStagiaires(index)"></i>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div v-else>
                                                    Aucun
                                                </div>
                                            </div>
                                            <div class="col col-3">
                                                <button v-if="nbreStagiaires === formation.max_stagiaires" class="btn btn-success text-light" disabled>Inscrire les stagiaires</button>
                                                <button v-else class="btn btn-success text-light" @click="storeInscriptionStagiaires()">Inscrire les stagiaires</button>
                                            </div>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </v-tab-item>
                            <v-tab-item value="ajoutRecrutements" >
                                <v-card flat tile>
                                    <v-card-text style="height: 230px;">
                                        <div class="row" v-if="listRecrutements.length > 0">
                                            <div class="col col-3 default" v-for="item in listRecrutements" :key="item.id">
                                                <router-link :to="{ name: 'showRecrutement', params: { id: item.id }}"
                                                             class="link default">
                                                    <div class="bloc text-center mb-5 elevation-2">
                                                        <i class="fas fa-calendar-plus fa-lg myIcon"></i>
                                                        <strong>Recrutement du {{ item.date | newDate }}</strong>
                                                    </div>
                                                </router-link>
                                            </div>
                                        </div>
                                        <div v-else class="row">
                                            <div class="col">
                                                Aucun recrutement prévu
                                            </div>
                                        </div>
                                        <v-row>
                                            <v-col>
                                                <div v-show="currentUser.role === 'admin' || currentUser.role === 'master'">
                                                    <button class="btn btn-primary" @click="addNewDate">
                                                        Nouvelle date
                                                    </button>
                                                    <button class="btn btn-danger" @click="refreshRecrutement">
                                                        Refresh
                                                    </button>
                                                    <button class="btn btn-success" @click="validationRecrutement">
                                                        Créer
                                                    </button>
                                                    <v-row>
                                                        <v-col cols="4" v-for="(recrutement, index) in recrutements" :key="index">
                                                            <div>
                                                                <h6 class="float-left">Date n° {{ index + 1 }}</h6>
                                                                <span class="float-right text-red font-weight-bold" style="cursor:pointer" @click="deleteDate(index)">X</span>
                                                            </div>
                                                            <b-form-datepicker v-model="recrutement.date" type="date" local="fr-BE" :hide-header="hideHeader"
                                                                               :start-weekday="weekday" :date-disabled-fn="dateDisabled" :min="min"
                                                                               :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                                                               class="form-control" placeholder="Date du recrutement">
                                                            </b-form-datepicker>
                                                        </v-col>
                                                    </v-row>
                                                </div>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-card>
                            </v-tab-item>
                            <v-tab-item value="uploadPdf">
                                <v-card flat tile>
                                    <v-card-text>
                                        <button class="btn btn-interface text-light" @click="uploadListePresence()">Liste des présences</button>
                                    </v-card-text>
                                </v-card>
                            </v-tab-item>
                        </v-tabs>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <!-- Show Modal Infos Pouvoir subsidiant -->
        <div class="modal fade" id="showPouvsubModal" tabindex="-1" role="dialog" aria-labelledby="showPouvsubModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showPouvsubModalTitle">Infos des stagiaires de cette formation pour le pouvoir subsidiant</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row align-items-center">
                            <div v-show="pouvsub.logo === null" class="col-3">
                            </div>
                            <div v-show="pouvsub.logo !== null" class="col-3">
                                <b-img :src="getLogo()" fluid alt="logo"></b-img>
                            </div>
                            <div class="col-9">
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.adresse)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        ADRESSE
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.date_naissance)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        DATE DE NAISSANCE
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.age)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        ÂGE
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.email)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        EMAIL
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.num_national)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        NUMÉRO NATIONAL
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.statut_legal)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        STATUT LÉGAL
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.diplome)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        DIPLÔME
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.duree_chomage)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        DUREE DE CHÔMAGE
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.moyen_recrutement)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        MOYEN DE RECRUTEMENT
                                    </div>
                                </v-chip>
                                <v-chip class="ma-2" :color="choixCouleur(infospouvsub.groupe_social)" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        GROUPE SOCIAL
                                    </div>
                                </v-chip>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <v-snackbar v-model="snackbarSuccess" color="success" top>
            {{ message }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
        <v-snackbar v-model="snackbarError" color="error" top>
            {{ error }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import {Form} from "vform";

    export default {
        name: "ShowFormation",
        data() {
            const now = new Date()
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
            const minDate = new Date(today)
            return {
                hideHeader: true,
                weekday: 1,
                min: minDate,
                formation: {},
                infospouvsub: {},
                pouvsub: {},
                stagiaires: {},
                listRecrutements: {},
                nbreStagiaires: null,
                stagiairesRestants: null,
                formRecrutement : new Form({
                    formation_id: null,
                    date: null,
                }),
                recrutements: [],
                dateManquante: 0,
                storeRecrutementStatut: false,
                finStoreRecrutement: false,
                snackbarSuccess: false,
                snackbarError: false,
                message: '',
                error: '',
                green: 'green',
                default: 'default',
                query: null,
                results: [],
                stagiaire: {},
                listStagiaires: [],
            }
        },
        watch: {
            query(after, before) {
                this.searchInscrits();
            }
        },
        mounted() {
            console.log('Show Formation component mounted');
            this.getFormation();
        },
        methods: {
            goBack() {
                return this.$router.go(-1);
            },
            dateDisabled(ymd, date) {
                const weekday = date.getDay()
                const day = date.getDate()
                return weekday === 0 || weekday === 6
            },
            getFormation() {
                axios.get(`/api/formations/show/${this.$route.params.id}`)
                    .then((response) => {
                        this.formation = response.data.formation;
                        this.infospouvsub = response.data.infospouvsub;
                        this.pouvsub = response.data.pouvsub;
                        this.stagiaires = response.data.stagiaires;
                        this.listRecrutements = response.data.recrutements;
                        this.nbreStagiaires = response.data.nbreStagiaires;
                        this.stagiairesRestants = response.data.formation.max_stagiaires - response.data.nbreStagiaires;
                    })
            },
            show() {
                this.$Progress.start();
                $('#showPouvsubModal').modal('show');
                this.$Progress.finish();
            },
            getLogo(){
                this.pouvsubLogo = "images/logos/" + this.pouvsub.logo;
                return this.pouvsubLogo;
            },
            choixCouleur(item) {
                if(item === 1) {
                    return this.green
                } else {
                    return this.default
                }
            },
            deleteStagiaire(id) {
                this.$Progress.start();
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, se sera supprimé à vie!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimez!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('api/formations/deleteInscrit/' + this.formation.id +'/'+ id)
                            .then(response => {
                                this.$Progress.finish();
                                Swal.fire(
                                    'Supprimez!',
                                    'Inscription supprimée',
                                    'success'
                                );

                            })
                            .catch(error => {
                                this.$Progress.fail();
                                this.errors = 'Oups, il y a un hic !';
                                this.snackbar = true;
                            })
                    }
                    setTimeout(function() {
                        window.location.reload();
                    }, 500);
                });

            },
            searchInscrits() {
                axios.get('api/inscrits/search', { params: { query: this.query } })
                    .then(response => this.results = response.data)
                    .catch(error => { console.log(error) } );
            },
            ajoutStagiaire: function(id, nom, prenom) {
                this.stagiaire['id'] = id;
                this.stagiaire['nom'] = nom;
                this.stagiaire['prenom'] = prenom;
                this.ajoutListStagiaires(this.stagiaire);
                this.stagiaire= {};
            },
            ajoutListStagiaires(stagiaire) {
                if(this.stagiairesRestants === 0) {
                    this.error = 'Nombre maximum de stagiaire atteint';
                    this.snackbarError = true;
                } else {
                    this.listStagiaires.push(stagiaire);
                    this.stagiairesRestants--;
                }
            },
            deleteListStagiaires: function (index) {
                this.listStagiaires.splice(index, 1);
            },
            storeInscriptionStagiaires() {
                this.$Progress.start();
                for(let $i=0; $i < this.listStagiaires.length; $i++) {
                    axios.post('api/formations/addInscrit/' + this.formation.id +'/'+ this.listStagiaires[$i].id)
                        .then(response => {
                            this.$Progress.finish();
                            if(response.data.message != null) {
                                Toast.fire({
                                    icon: 'success',
                                    title: "Inscription effectuée"
                                });
                            } else if (response.data.error != null) {
                                Toast.fire({
                                    icon: 'error',
                                    title: 'Déjà inscrit à cette formation'
                                });
                            }
                        })
                        .catch(error => {
                            console.log(error);
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Inscription non effectuée'
                            });
                        })
                }
                this.$Progress.finish();
                setTimeout(function() {
                    window.location.reload();
                }, 1500);
            },
            addNewDate() {
                this.recrutements.push({
                    formation_id: this.formation.id,
                    date: null,
                })
            },
            deleteDate(index) {
                this.recrutements.splice(index, 1);
            },
            refreshRecrutement() {
                this.ifRecrutement = false;
                this.recrutements = [];
            },
            storeRecrutements() {
                this.finStoreRecrutement = false;
                for(var x = 0; x < this.recrutements.length; x++) {
                    this.storeRecrutementStatut = false;
                    for(var y=0; y < this.listRecrutements.length; y++) {
                        if (this.recrutements[x].date === this.listRecrutements[y].date) {
                            this.error = 'Date de recrutement déjà prévu !';
                            this.snackbarError = true;
                            this.storeRecrutementStatut = true;
                        }
                    }
                    if(this.storeRecrutementStatut !== true) {
                        this.formRecrutement = new Form({
                            formation_id: this.recrutements[x].formation_id,
                            date: this.recrutements[x].date,
                        });
                        this.storeRecrutement();
                    }
                    if(x === this.recrutements.length-1) {
                        this.finStoreRecrutement = true;
                    }
                    setTimeout(function() {
                        window.location.reload();
                    }, 1500);
                }
            },
            storeRecrutement() {
                this.$Progress.start();
                this.formRecrutement
                    .post('api/recrutements')
                    .then(response => {
                        if(this.formRecrutement.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Recrutement créé'
                            });
                            if(this.finStoreRecrutement === true) {
                                this.message = 'Tous les recrutements ont bien été créés';
                                this.snackbarSuccess = true;
                                Fire.$emit('RefreshPage'); // Rafraichit la page
                            } else {
                                this.message = 'Tous les recrutements n\'ont pas pu été créés';
                                this.snackbarError = true;
                            }
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Recrutement non créé'
                            });
                        }
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbarError = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbarError = true;
                        }
                    })
            },
            validationRecrutement() {
                if(this.recrutements.length > 0) {
                    for(var i = 0; i < this.recrutements.length; i++) {
                        if(this.recrutements[i].date === null) {
                            this.dateManquante = this.dateManquante + 1;
                        } else {
                            this.dateManquante = 0;
                        }
                    }
                    if(this.dateManquante > 0) {
                        this.error = 'Vous n\'avez pas encodé toutes les dates';
                        this.snackbarError = true;
                    } else {
                        this.storeRecrutements();
                    }
                } else {
                    this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                    this.snackbarError = true;
                }
            },
            forceFileDownload(response) {
                let headers = response.headers;
                let nom = this.formation.abreviation;
                var blob = new Blob([response.data], {type: headers['content-type']});
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = `${nom}_liste-presence.pdf`;
                link.click();
                link.remove();
            },
            uploadListePresence() {
                axios({
                    url: '/PDF/formation/presences/' + this.formation.id,
                    method: 'GET',
                    responseType: 'blob',
                })
                    .then(response => {
                        this.forceFileDownload(response);
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },
    }
</script>

<style scoped>
    h2 {
        color: #193340;
    }

    .myLink {
        color: rgba(0, 0, 0, 0.6) !important;
    }

    a:hover {
        color: #f66d9b !important;
    }

    .link:hover {
        color: #f66d9b !important;
    }

    .bloc {
        padding: 0.5em 0.5em;
        border-radius: 10px;
        background-color: #389fad;
    }

    .bloc:hover {
        color: #193340;
    }

    .list_inscrits {
        z-index: 100;
        background-color: #fff;
        padding: 10px 0;
        border-radius: 5px;
        margin-top: 5px;
    }

    .list_inscrits > ul > li > a {
        color: #193340 !important;
    }

    .list_inscrits > ul {
        margin: 0;
        padding: 0;
    }

    .list_inscrits > ul > li {
        list-style-type: none;
        margin: 3px 0 2px 0;
        padding-top: 2px;
        cursor: pointer;
    }

    .list_inscrits > ul > li:hover {
        background-color: #389fad !important;
    }

    .inscrit {
        color: #193340 !important;
        padding: 3px 50px 7px 10px;
    }

    .myIcon {
        vertical-align: -0.03em !important;
        margin-right: 2px;
    }

    .span_inscrit {
        font-size: large;
    }

    .list_stagiaires > ul > li {
        list-style-type: none;
        margin-bottom: 2px;
    }

    .stagiaire {
        background-color: #389fad;
        border-radius: 10px;
        padding: 5px 10px;
        color: #fff;
    }

    .myIconStagiaire {
        vertical-align: -0.2em !important;
        margin-right: 5px;
    }

    .myIconDelete {
        vertical-align: -0.2em !important;
        margin-left: 5px;
        cursor: pointer;
    }

    .myIconDeleteStagiaire {
        margin-left: 15px;
        cursor: pointer;
        color: #fff;
    }

    .myIconDeleteStagiaire:hover {
        color: #e3342f;
    }

</style>
