<template>
    <div>
        <h1>
            <button class="btn btn-light" @click="retour">
                <i class="fas fa-reply fa-lg text-interface"></i>
            </button>
            Nouvelle inscription
        </h1>
        <v-stepper v-model="step">
            <v-stepper-header>
                <v-stepper-step :complete="step > 1" step="1">Généralités</v-stepper-step>

                <v-divider class="light"></v-divider>

                <v-stepper-step :complete="step > 2" step="2">Choix Inscription</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="3">Finalisation</v-stepper-step>
            </v-stepper-header>
            <v-stepper-items class="pb-1">
                <!-- Contenu partie 1 : les généralités -->
                <v-stepper-content step="1">
                    <div class="step-content mb-3">
                        <form>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Nom*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.nom" type="text"
                                                      :state="validationNom"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('nom') }"
                                                      name="nom" id="nom" placeholder="Nom">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-nom-live-feedback">
                                            Le nom doit &ecirc;tre compos&eacute; d'au moins 2 lettres
                                        </b-form-invalid-feedback>
                                        <has-error :form="formInscrit" field="nom"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Pr&eacute;nom*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.prenom" type="text"
                                                      :state="validationPrenom"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('prenom') }"
                                                      name="prenom" id="prenom" placeholder="Prénom">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-prenom-live-feedback">
                                            Le pr&eacute;nom doit &ecirc;tre compos&eacute; d'au moins 2 lettres
                                        </b-form-invalid-feedback>
                                        <has-error :form="formInscrit" field="prenom"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Genre*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formInscrit.genre"
                                                       :state="validationGenre"
                                                       class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('genre') }"
                                                       name="genre" id="genre">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option value="homme">Homme</b-form-select-option>
                                            <b-form-select-option value="femme">Femme</b-form-select-option>
                                            <b-form-select-option value="3e genre">3e genre</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formInscrit" field="genre"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Date de naissance*</span>
                                        </b-input-group-prepend>
                                        <b-form-input
                                            name="date_naissance" id="date_naissance" v-model="formInscrit.date_naissance"
                                            type="date" autocomplete="off"
                                            :state="validationNaissance"
                                            class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('date_naissance') }">
                                        </b-form-input>
                                        <b-input-group-append>
                                            <b-form-datepicker
                                                v-model="formInscrit.date_naissance"
                                                button-only
                                                right
                                                locale="fr-BE"
                                                aria-controls="date_naissance"
                                                @context="onContext"
                                            ></b-form-datepicker>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="date_naissance"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-3">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Rue</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.rue" type="text"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('rue') }"
                                                      name="rue" id="rue" placeholder="Rue">
                                        </b-form-input>
                                        <has-error :form="formInscrit" field="rue"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">N°</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formInscrit.numero" type="number" min="0"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('numero') }"
                                                      name="numero" id="numero" placeholder="Numéro">
                                        </b-form-input>
                                        <has-error :form="formInscrit" field="numero"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Boite</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formInscrit.boite" type="number" min="0"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('boite') }"
                                                      name="boite" id="boite" placeholder="Boite">
                                        </b-form-input>
                                        <has-error :form="formInscrit" field="boite"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">CP & Ville*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formInscrit.ville_id" :state="validationVille"
                                                       class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('ville_id') }"
                                                       name="ville_id" id="ville_id">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option v-for="ville in villes.villes" :key="ville.id" :value="ville.id">{{ ville.code_postal + ' ' + ville.ville }}</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formInscrit" field="ville_id"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Email</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.email" type="email"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('email') }"
                                                      name="email" id="email" placeholder="Email">
                                        </b-form-input>
                                        <has-error :form="formInscrit" field="email"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">T&eacute;l&eacute;phone*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.tel" type="tel"
                                                      :state="validationTel"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('tel') }"
                                                      name="tel" id="tel" placeholder="+32 xxx xxx xxx">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-nom-live-feedback">
                                            Le t&eacute;l&eacute;phone doit &ecirc;tre compos&eacute; de moins de 17 caractères
                                        </b-form-invalid-feedback>
                                        <has-error :form="formInscrit" field="tel"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Commentaire(s)</span>
                                        </b-input-group-prepend>
                                        <b-form-textarea v-model="formInscrit.commentaire_inscrit" rows="1" class="form-control"
                                                         name="commentaire_inscrit" id="commentaire_inscrit" placeholder="Entrez  un commentaire...">
                                        </b-form-textarea>
                                        <has-error :form="formInscrit" field="commentaire_inscrit"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <span class="font-weight-light font-italic text-light-interface"><small>Tous les champs avec * sont obligatoires</small></span>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn-interface text-light mt-n5" @click="validationStepOne()">Continuer</v-btn>
                    </div>
                </v-stepper-content>
                <!-- Contenu partie 2 : Choix de l'inscription -->
                <v-stepper-content step="2">
                    <div class="step-content mb-6">
                        <div class="row">
                            <div class="col">
                                <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                    <b-input-group-prepend is-text>
                                        <span class="text-light-interface font-weight-bold">&Agrave; inscrire comme :</span>
                                    </b-input-group-prepend>
                                    <b-form-select v-model="choix_inscription" id="choix_inscription">
                                        <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                        <b-form-select-option value="prospect">Prospect</b-form-select-option>
                                        <b-form-select-option value="candidat">Candidat à un recrutement</b-form-select-option>
                                        <b-form-select-option value="stagiaire">Stagiaire à une formation</b-form-select-option>
                                    </b-form-select>
                                </b-input-group>
                            </div>
                        </div>
                        <div class="container" v-if="choix_inscription === 'prospect'">
                            <div class="row">
                                <div class="col">
                                    <b-form-group label="Entrez les centres d'intérêts">
                                        <b-form-select v-model="choix_tag" id="choix_tag">
                                            <b-form-select-option :value="null">Choisissez un tag...</b-form-select-option>
                                            <b-form-select-option v-for="tag in tags" :key="tag.id" :value="tag.tag">{{ tag.tag }}</b-form-select-option>
                                        </b-form-select>
                                        <b-form-tags
                                            input-id="tags"
                                            v-model="inscritTags"
                                            :tag-validator="validator"
                                            tag-variant="success"
                                            tag-pills
                                            size="lg"
                                            separator=" ,;"
                                            @tag-state="onTagState"
                                            placeholder="Entrez un new tag séparé d'un espace, d'une virgule ou d'un point-virgule"
                                            class="mb-2"
                                        ></b-form-tags>
                                    </b-form-group>
                                </div>
                            </div>
                        </div>
                        <div class="container" v-if="choix_inscription === 'candidat'">
                            <div class="row">
                                <div class="col">
                                    <b-form-group>
                                        <b-form-select v-model="choix_recrutement" id="choix_recrutement" :state="validationRecrutement">
                                            <b-form-select-option :value="null">Choisissez un recrutement...</b-form-select-option>
                                            <b-form-select-option v-for="recrutement in recrutements" :key="recrutement.id" :value="recrutement.id">
                                                {{ recrutement.date | newDate}} - pour la formation : {{ recrutement.formation}}
                                            </b-form-select-option>
                                        </b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                        </div>
                        <div class="container" v-if="choix_inscription === 'stagiaire'">
                            <div class="row">
                                <div class="col">
                                    <b-form-group>
                                        <b-form-select v-model="choix_formation" id="choix_formation" :state="validationFormation">
                                            <b-form-select-option :value="null">Choisissez une formation...</b-form-select-option>
                                            <b-form-select-option v-for="(formation, index) in formations" :key="formation.id" :value="formation.id" :disabled="nbreStagiaires[index][0] === nbreStagiaires[index][1]">
                                                {{ formation.nom }}<span v-show="formation.session !== null"> - {{ formation.session }} </span><span> débutant le {{ formation.date_debut | newDate }} - {{ nbreStagiaires[index][0] }} stagiaires</span>
                                            </b-form-select-option>
                                        </b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn btn-danger text-light" @click="step = 1">Retour</v-btn>
                        <v-btn v-show="choix_inscription === null" class="btn-interface text-light" disabled>Continuer</v-btn>
                        <v-btn v-show="choix_inscription === 'prospect'" class="btn-success text-light" @click="validationStepTag()">Créer les tags</v-btn>
                        <v-btn v-show="choix_inscription === 'candidat'" class="btn-interface text-light" @click="validationStepRecrutement()">Continuer</v-btn>
                        <v-btn v-show="choix_inscription === 'stagiaire'" class="btn-interface text-light" @click="validationStepFormation()">Continuer</v-btn>
                    </div>
                </v-stepper-content>
                <!-- Contenu partie 3 : Finaliser l'inscription étape 1 -->
                <v-stepper-content step="3">
                    <div class="step-content mb-6">
                        <div class="container" v-if="choix_inscription === 'prospect'">
                            <div class="row">
                                <div class="col">
                                    <h6>Liste des tags liés au prospect {{ this.formInscrit.prenom + ' ' + this.formInscrit.nom }}</h6>
                                    <v-chip v-for="item in inscritTags" :key="item" class="ma-2" color="success" text-color="white">
                                        <v-avatar left>
                                            <v-icon>mdi-account-circle</v-icon>
                                        </v-avatar>
                                        <div class="pr-1">
                                            {{ item | LowerCase }}
                                        </div>
                                    </v-chip>
                                </div>
                            </div>
                        </div>
                        <div class="container" v-if="choix_inscription === 'candidat'">
                            <div class="row">
                                <div class="col">
                                    <strong>{{ inscrit.prenom}} {{inscrit.nom | upperCase }}</strong> participera au recrutement du {{ recrutementInscrit.date | newDate }} pour la formation "{{ recrutementInscrit.formation }}".
                                </div>
                            </div>
                        </div>
                        <div class="container" v-if="choix_inscription === 'stagiaire'">
                            <h6>Informations supplémentaires pour la formation {{ formation.nom  }}</h6>
                            <form>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input-group-prepend is-text>
                                                <span class="text-light-interface font-weight-bold">&Acirc;ge</span>
                                            </b-input-group-prepend>
                                            <b-form-input v-model.number="formInscrit.age" type="number"
                                                          class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('age') }"
                                                          name="age" id="age" disabled>
                                            </b-form-input>
                                            <b-input-group-append is-text v-show="pouvsub_infos.age === 1">
                                                <i v-if="formInscrit.age === null"
                                                   class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                                <i v-else
                                                   class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                            </b-input-group-append>
                                            <has-error :form="formInscrit" field="age"></has-error>
                                        </b-input-group>
                                    </div>
                                    <div class="col">
                                        <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input-group-prepend is-text>
                                                <span class="text-light-interface font-weight-bold">N° national</span>
                                            </b-input-group-prepend>
                                            <b-form-input v-model="formInscrit.num_national" type="text"
                                                          class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('num_national') }"
                                                          name="num_national" id="num_national" placeholder="xxxxxx-xxx.xx">
                                            </b-form-input>
                                            <b-input-group-append is-text v-show="pouvsub_infos.num_national === 1">
                                                <i v-if="formInscrit.num_national === null"
                                                   class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                                <i v-else
                                                   class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                            </b-input-group-append>
                                            <has-error :form="formInscrit" field="num_national"></has-error>
                                        </b-input-group>
                                    </div>
                                </div>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input-group-prepend is-text>
                                                <span class="text-light-interface font-weight-bold">Statut l&eacute;gal</span>
                                            </b-input-group-prepend>
                                            <b-form-select v-model="formInscrit.statut_legal"
                                                           class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('statut_legal') }"
                                                           name="statut_legal" id="statut_legal">
                                                <b-form-select-option :value="null">Choisissez...</b-form-select-option>
                                                <b-form-select-option value="stage d'attente">Stage d'attente</b-form-select-option>
                                                <b-form-select-option value="Dem. Emploi indemnisé">Dem. Emploi indemnis&eacute;</b-form-select-option>
                                                <b-form-select-option value="Dem. Emploi libre">Dem. Emploi libre</b-form-select-option>
                                                <b-form-select-option value="Rev. d'intégra. sociale">Rev. int&eacute;gra. soc.</b-form-select-option>
                                                <b-form-select-option value="Mutuelle">Mutuelle</b-form-select-option>
                                                <b-form-select-option value="Pensionné">Pensionn&eacute;</b-form-select-option>
                                                <b-form-select-option value="Autres">Autres</b-form-select-option>
                                            </b-form-select>
                                            <b-input-group-append is-text v-show="pouvsub_infos.statut_legal === 1">
                                                <i v-if="formInscrit.statut_legal === null"
                                                   class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                                <i v-else
                                                   class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                            </b-input-group-append>
                                            <has-error :form="formInscrit" field="statut_legal"></has-error>
                                        </b-input-group>
                                    </div>
                                    <div class="col">
                                        <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input-group-prepend is-text>
                                                <span class="text-light-interface font-weight-bold">Dipl&ocirc;me</span>
                                            </b-input-group-prepend>
                                            <b-form-input v-model="formInscrit.diplome" type="text"
                                                          class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('diplome') }"
                                                          name="diplome" id="diplome" placeholder="Diplôme">
                                            </b-form-input>
                                            <b-input-group-append is-text v-show="pouvsub_infos.diplome === 1">
                                                <i v-if="formInscrit.diplome === null"
                                                   class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                                <i v-else
                                                   class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                            </b-input-group-append>
                                            <has-error :form="formInscrit" field="diplome"></has-error>
                                        </b-input-group>
                                    </div>
                                </div>
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input-group-prepend is-text>
                                                <span class="text-light-interface font-weight-bold">Dur&eacute;e de ch&ocirc;mage</span>
                                            </b-input-group-prepend>
                                            <b-form-input v-model.number="formInscrit.duree_chomage" type="number" min="0"
                                                          class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('duree_chomage') }"
                                                          name="duree_chomage" id="duree_chomage" placeholder="Durée de chômage">
                                            </b-form-input>
                                            <b-input-group-append is-text v-show="pouvsub_infos.duree_chomage === 1">
                                                <i v-if="formInscrit.duree_chomage === null || formInscrit.duree_chomage < 0"
                                                   class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                                <i v-else
                                                   class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                            </b-input-group-append>
                                            <has-error :form="formInscrit" field="duree_chomage"></has-error>
                                        </b-input-group>
                                    </div>
                                    <div class="col">
                                        <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input-group-prepend is-text>
                                                <span class="text-light-interface font-weight-bold">Groupe social</span>
                                            </b-input-group-prepend>
                                            <b-form-select v-model="formInscrit.groupe_social"
                                                           class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('groupe_social') }"
                                                           name="groupe_social" id="groupe_social">
                                                <b-form-select-option :value="null">Choisissez...</b-form-select-option>
                                                <b-form-select-option value="réfugié">Probl&eacute;matique des r&eacute;fugi&eacute;s</b-form-select-option>
                                                <b-form-select-option value="sociale">Probl&eacute;matique sociale</b-form-select-option>
                                                <b-form-select-option value="médicale">Probl&eacute;matique m&eacute;dicale</b-form-select-option>
                                            </b-form-select>
                                            <b-input-group-append is-text v-show="pouvsub_infos.groupe_social === 1">
                                                <i v-if="formInscrit.groupe_social === null"
                                                   class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                                <i v-else
                                                   class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                            </b-input-group-append>
                                            <has-error :form="formInscrit" field="groupe_social"></has-error>
                                        </b-input-group>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                            <b-input-group-prepend is-text>
                                                <span class="text-light-interface font-weight-bold">O&ugrave; eu l'info ?</span>
                                            </b-input-group-prepend>
                                            <b-form-input v-model="formInscrit.moyen_recrutement" type="text"
                                                          class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('moyen_recrutement') }"
                                                          name="moyen_recrutement" id="moyen_recrutement" placeholder="Comment la personne a eu connaissance de la formation ?">
                                            </b-form-input>
                                            <b-input-group-append is-text v-show="pouvsub_infos.moyen_recrutement === 1">
                                                <i v-if="formInscrit.moyen_recrutement === null"
                                                   class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                                <i v-else
                                                   class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                            </b-input-group-append>
                                            <has-error :form="formInscrit" field="moyen_recrutement"></has-error>
                                        </b-input-group>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn btn-danger text-light" @click="step = 2">Retour</v-btn>
                        <v-btn v-show="choix_inscription === 'prospect'" class="btn-success text-light" @click="validationStepProspect()">Finaliser Prospect</v-btn>
                        <v-btn v-show="choix_inscription === 'candidat'" class="btn-success text-light" @click="validationStepCandidat()">Finaliser Candidat</v-btn>
                        <v-btn v-show="choix_inscription === 'stagiaire'" class="btn-success text-light" @click="validationStepStagiaire()">Finaliser Stagiaire</v-btn>
                    </div>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
        <v-snackbar v-model="snackbar" color="error" top>
            {{ error }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import {Form} from "vform";
    import moment from 'moment';

    export default {
        name: "CreateInscrit",
        data() {
            return {
                step: 1,
                snackbar: false,
                error: '',
                formInscrit : new Form({
                    id: '',
                    nom: '',
                    prenom: '',
                    genre: null,
                    date_naissance: '',
                    rue: '',
                    numero: '',
                    boite: '',
                    ville_id: null,
                    email: '',
                    tel: null,
                    commentaire_formation: '',
                    prospect: null,
                    age: null,
                    num_national: null,
                    statut_legal: null,
                    diplome: null,
                    duree_chomage: null,
                    moyen_recrutement: null,
                    groupe_social: null,
                    tags: null,
                    recrutement: null,
                    formation: null,
                }),
                villes: [],
                choix_inscription: null,
                inscrit: [],
                tags: [],
                choix_tag: null,
                inscritTags : [],
                formTag : new Form({
                    tag: null,
                }),
                test_tag: 0,
                tabTags: [],
                finStoreProspect: false,
                recrutements: [],
                choix_recrutement: null,
                recrutementInscrit: [],
                formations: [],
                nbreStagiaires: [],
                choix_formation: null,
                pouvsub_infos: [],
                formation: [],
                calculAge: null,
            }
        },
        watch: {
            choix_tag: function(newTag, oldTag) {
                this.inscritTags.push(newTag);
                this.choix_tag = null;
            }
        },
        mounted() {
            console.log('CreateInscrit component mounted');
            this.getVilles();
            this.getTags();
            this.getRecrutements();
            this.getFormations();
        },
        computed: {
            validationNom() {
                return this.formInscrit.nom.length > 1;
            },
            validationPrenom() {
                return this.formInscrit.prenom.length > 1;
            },
            validationGenre() {
                return this.formInscrit.genre != null;
            },
            validationNaissance() {
                return this.formInscrit.date_naissance !== '';
            },
            validationVille() {
                return this.formInscrit.ville_id != null;
            },
            validationTel() {
                return this.formInscrit.tel != null && this.formInscrit.tel.length < 17;
            },
            validationRecrutement() {
                return this.choix_recrutement != null;
            },
            validationFormation() {
                return this.choix_formation != null;
            },
        },
        methods: {
            retour() {
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, vous retournez à la liste des inscrits!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3CB521',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '<strong>RETOUR</strong>'
                }).then((result) => {
                    if (result.value) {
                        this.$router.push('/inscrits')
                    }
                });
            },
            onContext(ctx) {
                // The date formatted in the locale, or the `label-no-date-selected` string
                this.formatted = ctx.selectedFormatted
                // The following will be an empty string until a valid date is entered
                this.selected = ctx.selectedYMD
            },
            getVilles() {
                axios.get('api/villes/')
                    .then(response => {
                        this.villes = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            validationStepOne() {
                if(this.formInscrit.nom !== '' &&
                    this.formInscrit.prenom !== '' &&
                    this.formInscrit.genre !== null &&
                    this.formInscrit.date_naissance !== '' &&
                    this.formInscrit.ville_id !== null &&
                    this.formInscrit.tel !== null) {
                    if(this.formInscrit.numero < 0 &&
                        this.formInscrit.boite < 0) {
                        this.error = 'Vous avez rempli des champs avec un nombre négatif !';
                        this.snackbar = true;
                    } else if(this.formInscrit.tel.length > 17) {
                        this.error = 'Le champ du téléphone comprend trop de chiffres';
                        this.snackbar = true;
                    } else {
                        this.step = 2;
                    }
                } else {
                    this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                    this.snackbar = true;
                }
            },
            storeInscription() {
                this.$Progress.start();
                this.formInscrit
                    .post('api/inscrits/create')
                    .then(response => {
                        if(this.formInscrit.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Inscription effectuée'
                            });
                            this.getIdLatestInscrit();
                            this.step = 2;
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Inscription non effectuée'
                            });
                        }
                    })
                    .catch(error => {
                        console.log(error);
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            },
            getIdLatestInscrit() {
                axios.get('api/inscrits/latest')
                    .then(response => {
                        this.inscrit = response.data.data;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getTags() {
                axios.get('api/tags/all')
                    .then(response => {
                        this.tags = response.data.tags;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            onTagState(valid, invalid, duplicate) {
                this.validTags = valid
                this.invalidTags = invalid
                this.duplicateTags = duplicate
            },
            validator(tag) {
                return tag.length > 2
            },
            getRecrutements() {
                axios.get('api/recrutements/all')
                    .then(response => {
                        this.recrutements = response.data.recrutements;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getFormations() {
                axios.get('api/formations/all')
                    .then(response => {
                        this.formations = response.data.formations;
                        this.nbreStagiaires = response.data.nbreStagiaires;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            validationStepTag() {
                for(var x = 0; x < this.inscritTags.length; x++) {
                    this.test_tag = 0;
                    for(var y = 0; y < this.tags.length; y++) {
                        if(this.inscritTags[x] !== this.tags[y].tag) {
                            this.test_tag++;
                        }
                    }
                    if(this.test_tag === this.tags.length) {
                        this.formTag = new Form({
                            tag: this.inscritTags[x],
                        });
                        this.storeTag();
                    }
                }
                this.step = 3;
            },
            storeTag() {
                this.$Progress.start();
                this.formTag.tag = this.formTag.tag.toLowerCase();
                this.formTag
                    .post('api/tags/create')
                    .then(response => {
                        if(this.formTag.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Tag(s) créé(s)'
                            });
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Tag(s) non créé(s)'
                            });
                        }
                        this.tags.push(response.data.data);
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            validationStepRecrutement() {
                if(this.choix_recrutement !== null) {
                    this.getRecrutement();
                } else {
                    this.error = 'Vous n\'avez pas choisi de recrutement !';
                    this.snackbar = true;
                }
            },
            validationStepFormation() {
                if(this.choix_formation !== null) {

                    this.getPouvsubInfos();
                    this.getFormation();
                    this.getAge();
                } else {
                    this.error = 'Vous n\'avez pas choisi de formation !';
                    this.snackbar = true;
                }
            },
            getRecrutement() {
                axios.get('api/recrutements/show/' + this.choix_recrutement)
                    .then(response => {
                        this.recrutementInscrit = response.data.recrutement;
                        this.step = 3;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getPouvsubInfos() {
                axios.get('api/pouvsub-infos/infos/' + this.choix_formation)
                    .then(response => {
                        this.pouvsub_infos = response.data.data;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getFormation() {
                axios.get('api/formations/show/' + this.choix_formation)
                    .then(response => {
                        this.formation = response.data.formation;
                        this.step = 3;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getAge() {
                this.calculAge = moment().diff(moment(this.formInscrit.date_naissance), 'years');
                this.formInscrit.age = this.calculAge;
            },
            validationStepProspect() {
                for(var x = 0; x < this.inscritTags.length; x++) {
                    for(var y = 0; y < this.tags.length; y++) {
                        if(this.inscritTags[x] === this.tags[y].tag) {
                            this.tabTags.push(this.tags[y].id);
                        }
                    }
                }
                this.formInscrit.prospect = 1;
                this.formInscrit.tags = this.tabTags;
                this.storeInscrit();
            },
            validationStepCandidat() {
                this.formInscrit.prospect = 0;
                this.formInscrit.tags = [];
                this.formInscrit.recrutement = this.choix_recrutement;
                this.storeInscrit();
            },
            validationStepStagiaire() {
                this.formInscrit.prospect = 0;
                this.formInscrit.tags = [];
                this.formInscrit.formation = this.choix_formation;
                if(this.formInscrit.duree_chomage >= 0) {
                    this.storeInscrit();
                } else {
                    this.error = 'Vous avez rempli des champs avec un nombre négatif !';
                    this.snackbar = true;
                }
            },
            storeInscrit() {
                this.$Progress.start();
                this.formInscrit
                    .post('api/inscrits/create')
                    .then(response => {
                        if(this.formInscrit.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Inscription effectuée'
                            });
                            this.$router.push('/inscrits');
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Inscription non effectuée'
                            });
                        }
                    })
                    .catch(error => {
                        console.log(error);
                        this.$Progress.fail();
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                    })
            },
        }
    }
</script>

<style scoped>

</style>
