<template>
    <div>
        <h1>
            <button class="btn btn-light" @click="retour">
                <i class="fas fa-reply fa-lg text-interface"></i>
            </button>
            Modification d'une fiche
        </h1>
        <v-stepper v-model="step">
            <v-stepper-header>
                <v-stepper-step :complete="step > 1" step="1">Généralités</v-stepper-step>

                <v-divider class="light"></v-divider>

                <v-stepper-step step="2">Infos Supp.</v-stepper-step>
            </v-stepper-header>
            <v-stepper-items class="pb-1">
                <!-- Contenu partie 1 : les généralités -->
                <v-stepper-content step="1">
                    <div class="step-content mb-6">
                        <form>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Nom*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.nom" type="text"
                                                      :state="validationNom"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('nom') }"
                                                      name="nom" id="nom" placeholder="Nom">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-nom-live-feedback">
                                            Le nom doit être composé d'au moins 2 lettres
                                        </b-form-invalid-feedback>
                                        <has-error :form="formInscrit" field="nom"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Pr&eacute;nom*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.prenom" type="text"
                                                      :state="validationPrenom"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('prenom') }"
                                                      name="prenom" id="prenom" placeholder="Prénom">
                                        </b-form-input>
                                        <b-form-invalid-feedback id="input-prenom-live-feedback">
                                            Le pr&eacute;nom doit être composé d'au moins 2 lettres
                                        </b-form-invalid-feedback>
                                        <has-error :form="formInscrit" field="prenom"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Genre*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formInscrit.genre"
                                                       :state="validationGenre"
                                                       class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('genre') }"
                                                       name="genre" id="genre">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option value="homme">Homme</b-form-select-option>
                                            <b-form-select-option value="femme">Femme</b-form-select-option>
                                            <b-form-select-option value="3e genre">3e genre</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formInscrit" field="genre"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Date de naissance*</span>
                                        </b-input-group-prepend>
                                        <b-form-input
                                            name="date_naissance" id="date_naissance" v-model="formInscrit.date_naissance"
                                            type="date" autocomplete="off"
                                            :state="validationNaissance"
                                            class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('date_naissance') }">
                                        </b-form-input>
                                        <b-input-group-append>
                                            <b-form-datepicker
                                                v-model="formInscrit.date_naissance"
                                                button-only
                                                right
                                                locale="fr-BE"
                                                aria-controls="date_naissance"
                                                @context="onContext"
                                            ></b-form-datepicker>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="date_naissance"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-3">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Rue</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.rue" type="text"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('rue') }"
                                                      name="rue" id="rue" placeholder="Rue">
                                        </b-form-input>
                                        <has-error :form="formInscrit" field="rue"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">N°</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formInscrit.numero" type="number" min="0"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('numero') }"
                                                      name="numero" id="numero" placeholder="Numéro">
                                        </b-form-input>
                                        <has-error :form="formInscrit" field="numero"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Boite</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formInscrit.boite" type="number" min="0"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('boite') }"
                                                      name="boite" id="boite" placeholder="Boite">
                                        </b-form-input>
                                        <has-error :form="formInscrit" field="boite"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">CP & Ville*</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formInscrit.ville_id" :state="validationVille"
                                                       class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('ville_id') }"
                                                       name="ville_id" id="ville_id">
                                            <b-form-select-option :value="null">Choisissez</b-form-select-option>
                                            <b-form-select-option v-for="ville in villes.villes" :key="ville.id" :value="ville.id">{{ ville.code_postal + ' ' + ville.ville }}</b-form-select-option>
                                        </b-form-select>
                                        <has-error :form="formInscrit" field="ville_id"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Email</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.email" type="email"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('email') }"
                                                      name="email" id="email" placeholder="Email">
                                        </b-form-input>
                                        <b-input-group-append is-text v-show="pouvsubInfos.email === 1">
                                            <i v-if="formInscrit.email === ''"
                                               class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                            <i v-else
                                               class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="email"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">T&eacute;l&eacute;phone*</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.tel" type="tel"
                                                      :state="validationTel"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('tel') }"
                                                      name="tel" id="tel" placeholder="+32 xxx xxx xxx">
                                        </b-form-input>
                                        <has-error :form="formInscrit" field="tel"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Commentaire(s)</span>
                                        </b-input-group-prepend>
                                        <b-form-textarea v-model="formInscrit.commentaire_inscrit" rows="1" class="form-control"
                                                         name="commentaire_inscrit" id="commentaire_inscrit" placeholder="Entrez  un commentaire...">
                                        </b-form-textarea>
                                        <has-error :form="formInscrit" field="commentaire_inscrit"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <span class="font-weight-light font-italic text-light-interface"><small>Tous les champs avec * sont obligatoires</small></span>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn-interface text-light" @click="validationStepOne()">Continuer</v-btn>
                    </div>
                </v-stepper-content>
                <!-- Contenu partie 2 : Infos supplémentaires -->
                <v-stepper-content step="2">
                    <div class="step-content mb-6">
                        <h6>Informations supplémentaires</h6>
                        <form>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">&Acirc;ge</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formInscrit.age" type="number"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('age') }"
                                                      name="age" id="age" disabled>
                                        </b-form-input>
                                        <b-input-group-append is-text v-show="pouvsubInfos.age === 1">
                                            <i v-if="formInscrit.age === null"
                                               class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                            <i v-else
                                               class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="age"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">N° national</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.num_national" type="text"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('num_national') }"
                                                      name="num_national" id="num_national" placeholder="xxxxxx-xxx.xx">
                                        </b-form-input>
                                        <b-input-group-append is-text v-show="pouvsubInfos.num_national === 1">
                                            <i v-if="formInscrit.num_national === null"
                                               class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                            <i v-else
                                               class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="num_national"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Statut l&eacute;gal</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formInscrit.statut_legal"
                                                       class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('statut_legal') }"
                                                       name="statut_legal" id="statut_legal">
                                            <b-form-select-option :value="null">Choisissez...</b-form-select-option>
                                            <b-form-select-option value="stage d'attente">Stage d'attente</b-form-select-option>
                                            <b-form-select-option value="Dem. Emploi indemnisé">Dem. Emploi indemnis&eacute;</b-form-select-option>
                                            <b-form-select-option value="Dem. Emploi libre">Dem. Emploi libre</b-form-select-option>
                                            <b-form-select-option value="Rev. d'intégra. sociale">Rev. int&eacute;gra. soc.</b-form-select-option>
                                            <b-form-select-option value="Mutuelle">Mutuelle</b-form-select-option>
                                            <b-form-select-option value="Pensionné">Pensionn&eacute;</b-form-select-option>
                                            <b-form-select-option value="Autres">Autres</b-form-select-option>
                                        </b-form-select>
                                        <b-input-group-append is-text v-show="pouvsubInfos.statut_legal === 1">
                                            <i v-if="formInscrit.statut_legal === null"
                                               class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                            <i v-else
                                               class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="statut_legal"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Dipl&ocirc;me</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.diplome" type="text"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('diplome') }"
                                                      name="diplome" id="diplome" placeholder="Diplôme">
                                        </b-form-input>
                                        <b-input-group-append is-text v-show="pouvsubInfos.diplome === 1">
                                            <i v-if="formInscrit.diplome === null"
                                               class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                            <i v-else
                                               class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="diplome"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Dur&eacute;e de ch&ocirc;mage</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model.number="formInscrit.duree_chomage" type="number" min="0"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('duree_chomage') }"
                                                      name="duree_chomage" id="duree_chomage" placeholder="Durée de chômage">
                                        </b-form-input>
                                        <b-input-group-append is-text v-show="pouvsubInfos.duree_chomage === 1">
                                            <i v-if="formInscrit.duree_chomage === null || formInscrit.duree_chomage < 0"
                                               class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                            <i v-else
                                               class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="duree_chomage"></has-error>
                                    </b-input-group>
                                </div>
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">Groupe social</span>
                                        </b-input-group-prepend>
                                        <b-form-select v-model="formInscrit.groupe_social"
                                                       class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('groupe_social') }"
                                                       name="groupe_social" id="groupe_social">
                                            <b-form-select-option :value="null">Choisissez...</b-form-select-option>
                                            <b-form-select-option value="réfugié">Probl&eacute;matique des r&eacute;fugi&eacute;s</b-form-select-option>
                                            <b-form-select-option value="sociale">Probl&eacute;matique sociale</b-form-select-option>
                                            <b-form-select-option value="médicale">Probl&eacute;matique m&eacute;dicale</b-form-select-option>
                                        </b-form-select>
                                        <b-input-group-append is-text v-show="pouvsubInfos.groupe_social === 1">
                                            <i v-if="formInscrit.groupe_social === null"
                                               class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                            <i v-else
                                               class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="groupe_social"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                                        <b-input-group-prepend is-text>
                                            <span class="text-light-interface font-weight-bold">O&ugrave; eu l'info ?</span>
                                        </b-input-group-prepend>
                                        <b-form-input v-model="formInscrit.moyen_recrutement" type="text"
                                                      class="form-control" :class="{ 'is-invalid': formInscrit.errors.has('moyen_recrutement') }"
                                                      name="moyen_recrutement" id="moyen_recrutement" placeholder="Comment la personne a eu connaissance de la formation ?">
                                        </b-form-input>
                                        <b-input-group-append is-text v-show="pouvsubInfos.moyen_recrutement === 1">
                                            <i v-if="formInscrit.moyen_recrutement === null"
                                               class="fas fa-exclamation-triangle fa-lg text-orange font-weight-bold"></i>
                                            <i v-else
                                               class="fas fa-check fa-lg text-green font-weight-bold"></i>
                                        </b-input-group-append>
                                        <has-error :form="formInscrit" field="moyen_recrutement"></has-error>
                                    </b-input-group>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-right">
                        <v-btn class="btn btn-danger text-light" @click="step = 1">Retour</v-btn>
                        <v-btn class="btn-success text-light" @click="validationStepTwo()">&Eacute;diter</v-btn>
                    </div>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
        <v-snackbar v-model="snackbar" color="error" top>
            {{ error }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import {Form} from "vform";
    import moment from 'moment';

    export default {
        name: "Edit-Inscrit",
        data() {
            return {
                step: 1,
                loading: false,
                snackbar: false,
                error: '',
                stagiaire: false,
                formInscrit : new Form({
                    id: '',
                    nom: '',
                    prenom: '',
                    genre: null,
                    date_naissance: '',
                    rue: '',
                    numero: '',
                    boite: '',
                    ville_id: null,
                    email: '',
                    tel: null,
                    commentaire_formation: '',
                    prospect: null,
                    age: null,
                    num_national: null,
                    statut_legal: null,
                    diplome: null,
                    duree_chomage: null,
                    moyen_recrutement: null,
                    groupe_social: null,
                }),
                inscrit: [],
                villes: [],
                calculAge: null,
                formationInscrit: [],
                pouvsubInfos: [],
            }
        },
        watch: {
            choix_tag: function(newTag, oldTag) {
                this.inscritTags.push(newTag);
                this.choix_tag = null;
            }
        },
        mounted() {
            console.log('Edit Inscrit component mounted');
            this.getInscrit();
            this.getVilles();
        },
        computed: {
            validationNom() {
                return this.formInscrit.nom.length > 1;
            },
            validationPrenom() {
                return this.formInscrit.prenom.length > 1;
            },
            validationGenre() {
                return this.formInscrit.genre != null;
            },
            validationNaissance() {
                return this.formInscrit.date_naissance !== '';
            },
            validationVille() {
                return this.formInscrit.ville_id != null;
            },
            validationTel() {
                return this.formInscrit.tel != null;
            },
        },
        methods: {
            retour() {
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Si vous continuez, vous retournez à la liste des inscrits !",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3CB521',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '<strong>RETOUR</strong>'
                }).then((result) => {
                    if (result.value) {
                        this.$router.push('/inscrits')
                    }
                });
            },
            getInscrit() {
                this.$Progress.start();
                this.loading = false;
                axios.get(`/api/inscrits/show/${this.$route.params.id}`)
                    .then((response) => {
                        this.inscrit = response.data.inscrit;
                        if(response.data.formationInscrit != null) {
                            this.formationInscrit = response.data.formationInscrit;
                            this.stagiaire = true;
                        }
                        if(response.data.pouvsubInfos != null) {
                            this.pouvsubInfos = response.data.pouvsubInfos;
                        }
                        this.getFormInscrit(this.inscrit);
                        this.$Progress.finish();
                        this.loading = true;
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getFormInscrit(inscrit) {
                this.formInscrit.reset();
                this.formInscrit.clear();
                this.formInscrit.fill(inscrit);
            },
            onContext(ctx) {
                // The date formatted in the locale, or the `label-no-date-selected` string
                this.formatted = ctx.selectedFormatted
                // The following will be an empty string until a valid date is entered
                this.selected = ctx.selectedYMD
            },
            getVilles() {
                axios.get('api/villes/')
                    .then(response => {
                        this.villes = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            validationStepOne() {
                if(this.formInscrit.nom !== '' &&
                    this.formInscrit.prenom !== '' &&
                    this.formInscrit.genre !== null &&
                    this.formInscrit.date_naissance !== '' &&
                    this.formInscrit.ville_id !== null &&
                    this.formInscrit.tel !== null) {
                    if(this.formInscrit.numero >= 0 &&
                        this.formInscrit.boite >= 0) {
                        this.getAge();
                        this.step = 2;
                    } else {
                        this.error = 'Vous avez rempli des champs avec un nombre négatif !';
                        this.snackbar = true;
                    }
                } else {
                    this.error = 'Vous n\'avez pas rempli tous les champs obligatoires !';
                    this.snackbar = true;
                }
            },
            getAge() {
                this.calculAge = moment().diff(moment(this.inscrit.date_naissance), 'years');
                this.formInscrit.age = this.calculAge;
            },
            validationStepTwo() {
                if(this.stagiaire === true && this.formInscrit.duree_chomage >= 0) {
                    this.updateInscrit();
                } else if(this.stagiaire === false) {
                    this.updateInscrit();
                } else {
                    this.error = 'Vous avez rempli des champs avec un nombre négatif !';
                    this.snackbar = true;
                }
            },
            updateInscrit() {
                this.$Progress.start();
                this.formInscrit
                    .put(`/api/inscrits/edit/${this.$route.params.id}`)
                    .then(response => {
                        if(this.formInscrit.successful) {
                            this.$Progress.finish();
                            Toast.fire({
                                icon: 'success',
                                title: 'Fiche éditée'
                            });
                            this.$router.push('/inscrits');
                        } else {
                            this.$Progress.fail();
                            Toast.fire({
                                icon: 'error',
                                title: 'Fiche non éditée'
                            });
                        }
                    })
                    .catch(error => {
                        console.log(error);
                        this.$Progress.fail();
                        if (error.response.status === 422) {
                            this.error = 'Oups, il y a un hic avec un des champs !';
                            this.snackbar = true;
                        } else {
                            this.error = 'Oups, il y a un hic !';
                            this.snackbar = true;
                        }
                    })
            },
        }
    }
</script>

<style scoped>

</style>
