<template>
    <div class="container mt-n5">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Inscrits-main",
    }
</script>

<style scoped>

</style>
