<template>
    <div>
        <h1 class="ml-5 mb-n2">
            <a @click="goBack">
                <button class="btn btn-light mt-n2">
                    <i class="fas fa-reply fa-lg text-interface"></i>
                </button>
            </a>
            Fiche d'inscrit<span v-show="inscrit.genre === 'femme'">e</span>
        </h1>
        <v-row justify="center" class="mb-n3">
            <v-col cols="12">
                <v-card class="mx-auto" shaped>
                    <v-card-text>
                        <div class="d-flex align-items-start">
                            <v-avatar class="mr-3">
                                <img v-show="inscrit.genre === 'homme'" :src="'images/avatars/man.png'" class="img-circle elevation-2" alt="avatar">
                                <img v-show="inscrit.genre === 'femme'" :src="'images/avatars/woman.png'" class="img-circle elevation-2" alt="avatar">
                                <img v-show="inscrit.genre === '3e genre'" :src="'images/avatars/user.png'" class="img-circle elevation-2" alt="avatar">
                            </v-avatar>
                            <div>
                        <span class="display-1 text--primary font-weight-bold">
                            {{ inscrit.prenom }} {{ inscrit.nom | UpperCase }}<br>
                        </span>
                                <p><i>créé<span v-show="inscrit.genre === 'femme'">e</span> depuis le {{ inscrit.created_at | newDate }}</i></p>
                            </div>
                        </div>
                        <v-row class="mb-n5">
                            <v-col lg="1">

                            </v-col>
                            <v-col>
                                <strong>DATE DE NAISSANCE :</strong> {{ inscrit.date_naissance | newDate }}<br>
                                <strong>ADRESSE :</strong><span v-if="inscrit.rue !== null"> {{ inscrit.rue }}, {{ inscrit.numero }} <span v-if="inscrit.boite !== null">bte</span> {{ inscrit.boite }} - </span>
                                {{ inscrit.cp }} {{ inscrit.ville }}<br>
                                <strong>EMAIL :</strong> {{ inscrit.email }}<br>
                                <strong>T&Eacute;l. :</strong> {{ inscrit.tel }}<br>
                                <strong>Commentaire :<br></strong> {{ inscrit.commentaire_inscrit }}<br>
                            </v-col>
                            <v-col lg="1">
                                <span id="vertical-line"></span>
                            </v-col>
                            <v-col>
                                <strong>AGE :</strong> <span v-if="inscrit.age != null">{{ inscrit.age }} ans</span><span v-else>/</span><br>
                                <strong>N° NATIONAL :</strong> <span v-if="inscrit.num_national != null">{{ inscrit.num_national }}</span><span v-else>/</span><br>
                                <strong>STATUT L&Eacute;GAL :</strong> <span v-if="inscrit.statut_legal != null">{{ inscrit.statut_legal }}</span><span v-else>/</span><br>
                                <strong>DIPL&Ocirc;ME :</strong> <span v-if="inscrit.diplome != null">{{ inscrit.diplome }}</span><span v-else>/</span><br>
                                <strong>CH&Ocirc;MAGE :</strong> <span v-if="inscrit.duree_chomage != null">{{ inscrit.duree_chomage }} ann&eacute;e</span><span v-else>/</span><br>
                                <strong>O&Uacute; VU l'INFO ? :</strong> <span v-if="inscrit.moyen_recrutement != null">{{ inscrit.moyen_recrutement }}</span><span v-else>/</span><br>
                                <strong>GROUPE SOCIAL :</strong> <span v-if="inscrit.groupe_social != null">Probl&eacute;matique {{ inscrit.groupe_social }}</span><span v-else>/</span><br>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <hr>
                            </v-col>
                        </v-row>
                        <v-row class="mt-n5">
                            <v-col>

                                <strong>FORMATIONS :</strong>
                                <ul v-show="testFormation() === false">
                                    <li>
                                        Aucune
                                    </li>
                                </ul>
                                <ul>
                                    <li v-for="formation in formations" :key="formation.id">
                                        <span>{{ formation.nom }} <span v-show="formation.session !== null">- {{ formation.session }}</span> du {{ formation.date_debut | newDate}} au {{ formation.date_fin | newDate}}</span>
                                    </li>
                                </ul>
                            </v-col>
                            <v-col>
                                <strong>INSCRIT<span v-show="inscrit.genre === 'femme'">E</span> &Aacute; UN RECRUTEMENT :</strong>
                                <ul>
                                    <li v-if="testRecrutement() === false">Aucune</li>
                                    <li v-else v-for="(item, index) in Infos" :key="index">
                                        Recrutement du {{ item.date_recrutement | newDate }} pour la formation {{ item.nom_formation }}
                                    </li>
                                </ul>
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row class="mb-n5">
            <v-col>
                <v-tabs class="elevation-2" dark>
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab href="#ajoutCandidats">Inscrire à une formation</v-tab>
                    <v-tab href="#ajoutRecrutements">Inscrire à un recrutement</v-tab>
                    <v-tab href="#tags">Tags</v-tab>
                    <v-tab-item value="ajoutCandidats">
                        <v-card flat tile>
                            <v-card-text class="mb-n3">
                                <v-row class="mt-n3 mb-n5">
                                    <v-col cols="10">
                                        <b-form-group>
                                            <b-form-select v-model="choix_formation" id="choix_formation" :state="validationFormation">
                                                <b-form-select-option :value="null">Choisissez une formation...</b-form-select-option>
                                                <b-form-select-option v-for="(formation, index) in listFormations" :key="formation.id" :value="formation.id" :disabled="nbreStagiaires[index][0] === nbreStagiaires[index][1]">
                                                    {{ formation.nom }}<span v-show="formation.session !== null"> - {{ formation.session }} </span><span> débutant le {{ formation.date_debut | newDate }} - {{ nbreStagiaires[index][0] }} stagiaires</span>
                                                </b-form-select-option>
                                            </b-form-select>
                                        </b-form-group>
                                    </v-col>
                                    <v-col cols="2">
                                        <button type="submit" class="btn btn-success" @click.prevent="checkFormation()">Inscrire</button>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item value="ajoutRecrutements">
                        <v-card flat tile>
                            <v-card-text class="mb-n3">
                                <v-row class="mt-n3 mb-n5">
                                    <v-col cols="10">
                                        <b-form-group>
                                            <b-form-select v-model="choix_recrutement" id="choix_recrutement" :state="validationRecrutement">
                                                <b-form-select-option :value="null">Choisissez un recrutement...</b-form-select-option>
                                                <b-form-select-option v-for="recrutement in listRecrutements" :key="recrutement.id" :value="recrutement.id">
                                                    {{ recrutement.date | newDate}} - pour la formation : {{ recrutement.formation}}
                                                </b-form-select-option>
                                            </b-form-select>
                                        </b-form-group>
                                    </v-col>
                                    <v-col cols="2">
                                        <button type="submit" class="btn btn-success" @click.prevent="checkRecrutement()">Inscrire</button>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item value="tags">
                        <v-card flat tile>
                            <v-card-text class="mb-n3">
                                <h6 v-if="tags.length > 0">Liste des tags liés à {{ inscrit.prenom + ' ' + inscrit.nom }}</h6>
                                <h6 v-else>Aucun tag lié à {{ inscrit.prenom + ' ' + inscrit.nom }}</h6>
                                <v-chip v-for="item in tags" :key="item" class="ma-2" color="success" text-color="white">
                                    <v-avatar left>
                                        <v-icon>mdi-account-circle</v-icon>
                                    </v-avatar>
                                    <div class="pr-1">
                                        {{ item.tag }}
                                    </div>
                                </v-chip>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
        <v-snackbar v-model="snackbar" color="error" top>
            {{ error }}
            <v-btn text @click="snackbar = false">
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: "Show-Inscrit",
        data() {
            return {
                loading: false,
                snackbar: false,
                error: '',
                inscrit: [],
                formations: [],
                recrutements: [],
                recrutementsInfos: [],
                today: null,
                listFormations: [],
                nbreStagiaires: [],
                choix_formation: null,
                listRecrutements: [],
                choix_recrutement: null,
                numRecrutement: null,
                compteur: 1,
                dates: {},
                noms: {},
                tmpInfos: {},
                Infos: [],
                tags: [],
            }
        },
        mounted() {
            console.log('Show Inscrit component mounted');
            this.getInscrit();
            this.getNow();
            this.getFormations();
            this.getRecrutements();
        },
        computed: {
            validationRecrutement() {
                return this.choix_recrutement != null;
            },
            validationFormation() {
                return this.choix_formation != null;
            },
        },
        methods: {
            goBack() {
                return this.$router.go(-1);
            },
            getInscrit() {
                this.$Progress.start();
                this.loading = false;
                axios.get(`/api/inscrits/show/${this.$route.params.id}`)
                    .then((response) => {
                        this.inscrit = response.data.inscrit;
                        if(response.data.recrutements != null) {
                            this.recrutements = response.data.recrutements;
                        }
                        if(response.data.recrutementsInfos != null) {
                            this.recrutementsInfos = response.data.recrutementsInfos;
                        }
                        if(response.data.formations != null) {
                            this.formations = response.data.formations;
                        }
                        if(response.data.recrutements != null && response.data.recrutementsInfos != null) {
                            this.groupRecrutementInfos();
                        }
                        if(response.data.tags != null) {
                            this.tags = response.data.tags;
                        }
                        this.$Progress.finish();
                        this.loading = true;
                    })
                    .catch(error => {
                        this.$Progress.fail();
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getNow() {
                this.today = moment().format("YYYY-MM-DD");
            },
            testRecrutement() {
                return !!(Array.isArray(this.recrutements) && this.recrutements.length);
            },
            testFormation() {
                return !!(Array.isArray(this.formations) && this.formations.length);
            },
            groupRecrutementInfos() {
                for(let a=0; a<this.recrutements.length; a++) {
                    for(let x=0; x<this.recrutements.length; x++) {
                        this.dates['date'+(x+1)] = { 'date_recrutement' : this.recrutements[x].date };
                    }

                    for(let y=0; y<this.recrutementsInfos.length; y++) {
                        this.noms['nom_formation'+(y+1)] = { 'nom_formation' : this.recrutementsInfos[y].nom };
                    }

                    this.tmpInfos['recrutement'+(a+1)] = $.extend(this.dates['date'+(a+1)], this.noms['nom_formation'+(a+1)]);
                }

                for(var item in this.tmpInfos) {
                    this.Infos.push(this.tmpInfos[item]);
                }
            },
            getFormations() {
                axios.get('api/formations/all')
                    .then(response => {
                        this.listFormations = response.data.formations;
                        this.nbreStagiaires = response.data.nbreStagiaires;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            getRecrutements() {
                axios.get('api/recrutements/all')
                    .then(response => {
                        this.listRecrutements = response.data.recrutements;
                    })
                    .catch(error => {
                        console.log(error);
                        this.error = 'Oups, il y a un hic !';
                        this.snackbar = true;
                    })
            },
            checkFormation() {
                if(this.choix_formation !== null) {
                    this.inscriptionFormation();
                } else {
                    this.error = 'Vous n\'avez pas choisi de formation !';
                    this.snackbar = true;
                }
            },
            inscriptionFormation() {
                axios.post('api/formations/addInscrit/' + this.choix_formation +'/'+ this.inscrit.id)
                    .then(response => {
                        this.$Progress.finish();
                        if(response.data.message != null) {
                            Toast.fire({
                                icon: 'success',
                                title: 'Inscription effectuée'
                            });
                        } else if (response.data.error != null) {
                            Toast.fire({
                                icon: 'error',
                                title: 'Déjà inscrit à cette formation'
                            });
                        }
                        window.location.reload();
                    })
                    .catch(error => {
                        console.log(error);
                        this.$Progress.fail();
                        Toast.fire({
                            icon: 'error',
                            title: 'Inscription non effectuée'
                        });
                    })
            },
            checkRecrutement() {
                if(this.choix_recrutement !== null) {
                    this.inscriptionRecrutement();
                } else {
                    this.error = 'Vous n\'avez pas choisi de recrutement !';
                    this.snackbar = true;
                }
            },
            inscriptionRecrutement() {
                axios.post('api/recrutements/addInscrit/' + this.choix_recrutement +'/'+ this.inscrit.id)
                    .then(response => {
                        this.$Progress.finish();
                        if(response.data.message != null) {
                            Toast.fire({
                                icon: 'success',
                                title: 'Inscription effectuée'
                            });
                        } else if (response.data.error != null) {
                            Toast.fire({
                                icon: 'error',
                                title: 'Déjà inscrit à ce recrutement'
                            });
                        }
                        window.location.reload();
                    })
                    .catch(error => {
                        console.log(error);
                        this.$Progress.fail();
                        Toast.fire({
                            icon: 'error',
                            title: 'Inscription non effectuée'
                        });
                    })
            },
        }
    }
</script>

<style scoped>
    #vertical-line {
        border-left: 2px solid #000;
        display: inline-block;
        height: 160px;
        margin-left: -17px;
    }

    hr {
        border: none;
        border-top: 3px double #333;
        color: #333;
        overflow: visible;
        text-align: center;
        height: 5px;
    }

    hr:after {
        background: #fff;
        content: '§';
        padding: 0 4px;
        position: relative;
        top: -13px;
    }
</style>
