<template>
    <nav class="navbar narbar-expand-md navbar-light bg-dark-interface">
        <div class="container">
            <router-link class="navbar-brand text-light" to="/">ERP - Interface3.Namur - Version 2.4</router-link>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "app-header",
    }
</script>

<style scoped>

</style>
